@model MWMS2.Areas.Registration.Models.Fn03PA_GCNSearchModel


    <div class="displayForm">
        <div id="searchCriteria">

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m12 s12">File Reference :</div>
                    <div class="w3-col l9 m12 s12">
                        @Html.DisplayFor(model => model.FileRef)
                        @Html.HiddenFor(model => model.FileRef)

                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m12 s12">HKID / Passport No.:</div>
                    <div class="w3-col l9 m12 s12"> @Html.DisplayFor(model => model.HKID)</div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m12 s12">Name :</div>
                    <div class="w3-col l9 m12 s12">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m12 s12">Title :</div>
                    <div class="w3-col l3 m12 s12">
                        @Html.DisplayFor(model => model.Title)
                    </div>

                    <div class="w3-col l3 m12 s12">Sex :</div>
                    <div class="w3-col l3 m12 s12">
                        @Html.DisplayFor(model => model.Gender)
                    </div>
                </div>
            </div>


        </div>
        <div id="resultPanel"></div>

        <div class="w3-container footer">
            <button class="btn btn-default" name="GenerateCandidateNo" id="GenerateCandidateNo"> Generate Candidate No. </button>
            @*<button onclick="history.go(-1);" class="back" name="back" id="back"><i class="fa fa-times"></i>Back</button>*@
            <button type="button" class="btn btn-default backButton"><i class="fa fa-times"></i> Cancel</button>

            @*<a href="javascript:void(0);" onclick="history.go(-1);" style="float:right">Back</a>*@
        </div>
    </div>
        <script type="text/javascript">
            var list;
            domReady(function () {
                list = new searcher({
                    searchPath: "GetGCNResult"
                    //, exportPath: "Excel"
                    , searchTable: "searchCriteria"
                    , resultPanel: "resultPanel"
                    , Sort: "FILE_REFERENCE_NO"
                    , Footer: false
                    , Columns: [
                        {
                            headerFormater: function (data, idx) {
                                console.log(data);
                                var showCheckbox = false;
                                if (data != null) {
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].V2 == null || data[i].V2 == "") {
                                            showCheckbox = true;
                                            break;
                                        }
                                    }
                                }
                                var r = dom("span");
                                if (showCheckbox) var checkbox = dom_(r, "input", [{ addClass: "formCheckboxAll" }, { type: "checkbox" }]);
                                return r;
                            }
                            , formater: function (row) {
                                var r = dom("span");
                                if (row.V2 == null || row.V2 == "") {
                                    var checkbox = dom_(r, "input", [{ addClass: "formCheckbox" }, { type: "checkbox" }, { name: "C_IND_CERTIFICATE_UUIDs" }, { value: row.V1 }]);
                                }
                                return r;
                            }
                        }

                        , { displayName: "Candidate No.", columnName: "V2" }
                        , { displayName: "Category Code", columnName: "V3" }

                    ]
                }).search(null, function () { checkAller("formCheckboxAll", "formCheckbox"); });

                attr("GenerateCandidateNo", "onclick", {
                    callback: function () {
                        if (document.querySelectorAll('.formCheckbox:checked').length > 0) {
                            addClass("resultPanel", "loading");
                            $.post("GenNo", $(parseForm("resultPanel")).serialize(), function (page) {
                                list.search(); dropClass("resultPanel", "loading");
                            });
                        } else alert("Please select a candidate for generate.");
                    }
                });

                ////button onclick goto controller
                attr("GenerateCandidateNo", "onclick", {
                    callback: function () {
                        $.post("GenNo", $(parseForm("resultPanel")).serialize(), function (page) {
                            list.search();
                        })
                    }
                });

                //$(document).on('click', '#backLink', function () { history.go(-1); });
            });
        </script>
