@model MWMS2.Models.ProcessMonitorSearchModel

@if (MWMS2.Utility.AuthUtil.CanList)
{

    <div class="panelHeader"> Search Criteria</div>
    <div id="searchCriteria">
        @Html.HiddenFor(x => x.doSearch)
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">File Reference :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.FileRef)
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">HKID :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.HKID)</div>
            </div>
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Passport No. :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.PassportNo)</div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Surname :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.SurName)</div>
            </div>
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Given Name :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.GivenName)</div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Chinese Name :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.ChiName)
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            <button onclick="searchForm()" class="searchButton btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
            <button class="resetButton btn btn-default" type="button"><i class="fa fa-eraser"></i> Clear</button>
        </div>

    </div>
    <div id="resultPanel"></div>

    if (MWMS2.Utility.AuthUtil.CanViewDetails)
    {
        <script type="text/javascript">function ViewDetail(row) { goTo("Form", [{ name: "certUUID", value: row.CERT_UUID }, { name: "pmUUID", value: row.PM_UUID }]); }</script>
    }
    else
    {
        <script type="text/javascript">function ViewDetail(row) { }</script>
    }

    <script type="text/javascript">
        var a;
        domReady(function () {
            a =
                new searcher({
                    searchPath: "Search"
                    , exportPath: "Excel"
                    , searchTable: "searchCriteria"
                    , resultPanel: "resultPanel"
                    , Sort: "FILE_REFERENCE_NO"
                    , Columns: [
                        {
                            displayName: " ", columnName: "RECORD_TYPE"
                            , click: function (row) {
                                try {
                                    if (row == null) return;
                                    ViewDetail(row);
                                } catch (err) { }
                            }
                        },
                        { displayName: "File Ref.", columnName: "FILE_REFERENCE_NO" }
                        , { displayName: "Name", columnName: "NAME" }
                        , { displayName: "Category Code", columnName: "CAT_CODE_DESC" }
                        , { displayName: "Received Date", columnName: "RECEIVED_DATE" }
                        , { displayName: "Under Monitor", columnName: "UM" }
                    ]
                });
        });

        function searchForm() {
            if ((document.getElementById("FileRef").value) == "" &&
                (document.getElementById("HKID").value) == "" &&
                (document.getElementById("PassportNo").value) == "" &&
                (document.getElementById("SurName").value) == "" &&
                (document.getElementById("GivenName").value) == "" &&
                (document.getElementById("ChiName").value) == ""
            ) {
                alert("Please enter one or more search criteria.");
                return;
            }
            else {
                a.search();
            }
        }

    </script>
}
else
{
    <b>Access denied, please contact your supervisor.</b>
}
