@model MWMS2.Areas.Registration.Models.Fn03PA_GCNSearchModel

@if (MWMS2.Utility.AuthUtil.CanList)
{

    <div class="panelHeader">Search Criteria</div>
    @Html.HiddenFor(x => x.doSearch)
    <div id="searchCriteria">
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">File Reference :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.FileRef)
                </div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Surname :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.SurName)</div>
            </div>
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Given Name :</div>
                <div class="w3-col l6 m12 s12">@Html.TextBoxFor(model => model.GivenName)</div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Chinese Name :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.ChiName)
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            <button class="searchButton btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
            <button class="resetButton btn btn-default" type="button"><i class="fa fa-eraser"></i> Clear</button>
        </div>


    </div>

    <div id="resultPanel"></div>

    if (MWMS2.Utility.AuthUtil.CanViewDetails)
    {
        <script type="text/javascript">
    function ViewDetail(row) {
                goTo("Form", [{ name: "fileRef", value: row.FILE_REFERENCE_NO }, { name: "hkid", value: row.HKIDPASSPORT },
                { name: "name", value: row.NAME }, { name: "title", value: row.SURNAME }, { name: "gender", value: row.GENDER }]);
            }</script>
    }
    else
    {
        <script type="text/javascript">function ViewDetail(row) { }</script>
    }

    <script type="text/javascript">
        domReady(function () {
            new searcher({
                searchPath: "Search"
                , exportPath: "Excel"
                , searchTable: "searchCriteria"
                , resultPanel: "resultPanel"
                , Sort: "FILE_REFERENCE_NO"
                , Columns: [
                    {
                        displayName: "File Reference", columnName: "FILE_REFERENCE_NO"
                        //, click: function (row) { alert("Clicked File Reference No.  : " + row.FILE_REFERENCE_NO); alert("Clicked UUID  : " + row.UUID); }
                        , click: function (row) {
                            try {
                                if (row == null) return;
                                ViewDetail(row);
                            } catch (err) { }
                        }
                    }
                    , { displayName: "HKID", columnName: "HKID" }
                    , { displayName: "Name", columnName: "NAME" }
                    , { displayName: "Chines Name", columnName: "CHINESE_NAME" }
                ]
            });
        });
    </script>
}
else
{
    <b>Access denied, please contact your supervisor.</b>
}
