@model MWMS2.Areas.Registration.Models.CompDisplayModel

<div class="w3-row">
    <div class="w3-col l12 m12 s12">
        <div class="w3-col l3 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.FILE_REFERENCE_NO) <font color="red">*</font> :</div>
        <div class="w3-col l2 m4 s9 data">

            @if (!Model.EditMode)
            {
                @Html.DropDownListFor(o => o.RegPrefix, Model.CATEGORY_CODE_List)
            }
            @Html.TextBoxFor(o => o.C_COMP_APPLICATION.FILE_REFERENCE_NO)

        </div>
        <div class="w3-col l7 m2 s3 data"><button type="button" id="eFormButton">E-form</button></div>
    </div>

    <div class="w3-col l6 m12 s12">
        <div class="w3-col l6 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.BR_NO) <font color="red">*</font> :</div>
        <div class="w3-col l4 m4 s9 data">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.BR_NO)</div>
        <div class="w3-col l2 m2 s3 data"><button type="button" id="brButton"><i class="fa fa-search"></i></button></div>
    </div>
    <div class="w3-col l6 m12 s12">
        <div class="w3-col l6 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.BRANCH_NO) :</div>
        <div class="w3-col l6 m6 s12 data">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.BRANCH_NO)</div>
    </div>

    <div class="w3-col l12 m12 s12">
        <div class="w3-col l3 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.ENGLISH_COMPANY_NAME) <font color="red">*</font> :</div>
        <div class="w3-col l8 m4 s9 data">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.ENGLISH_COMPANY_NAME)</div>
        <div class="w3-col l1 m2 s3 data">
            @if (Model.EditMode)
            {
                <button type="button" id="companyNameButton"><i class="fa fa-search"></i></button>
            }
        </div>
    </div>

    <div class="w3-col l6 m12 s12">
        <div class="w3-col l6 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.CHINESE_COMPANY_NAME) :</div>
        <div class="w3-col l6 m6 s12 data">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.CHINESE_COMPANY_NAME)</div>
    </div>
    <div class="w3-col l6 m12 s12">
        <div class="w3-col l6 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.APPLICATION_STATUS_ID) <font color="red">*</font> :</div>
        <div class="w3-col l6 m6 s12 data">@Html.DropDownListFor(o => o.C_COMP_APPLICATION.APPLICATION_STATUS_ID, Model.APPLICATION_STATUS_List)</div>
    </div>
</div>