

<h3>System Parameter Management</h3>
<div class="sList">
    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh" style="text-align: left; padding-left: 10px">Parameter </th>
            </tr>
        </thead>

        <tbody>
            <tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Audit Check %", "SPMAuditCheckPercentage", "SPMAuditCheckPercentage")@*<a href='javascript:loadContentPage("SPMa")'>Audit check %</a>*@</td>
            </tr>
            <tr class="sRow2">
                <td class="sCell">@Html.ActionLink("Workflow Setting", "SPMWorkflowSetting", "SPMWorkflowSetting")@*<a href='javascript:loadContentPage("SMM1103b")'>Workflow Setting </a>*@</td>
            </tr>
            @*<tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Leter Info", "SPMLetterInfo", "SPMLetterInfo")</td>
            </tr>*@
            <tr class="sRow2">
                <td class="sCell">@Html.ActionLink("Validation Item", "SPMValidationItem", "SPMValidationItem")@*<a href='javascript:loadContentPage("SMM1103d")'>Validation Item </a>*@</td>
            </tr>
            <tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Letter Template Upload", "SPMLetterTemplate", "SPMLetterTemplate")@*<a href='javascript:loadContentPage("SMM1103e")'>Letter Template Upload </a>*@</td>
            </tr>
            <tr class="sRow2">
                <td class="sCell"> @Html.ActionLink("District Maintenance", "SPMDistrictMaintenance", "SPMDistrictMaintenance" )   @*<a href='javascript:loadContentPage("SMM1103f")'>District Maintenance </a>*@</td>
            </tr>
            <tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Link Maintenance", "SPMLinkMaintenance", "SPMLinkMaintenance") @*<a href='javascript:loadContentPage("SMM1103g")'>Link Maintenance </a>*@</td>
            </tr>
        </tbody>
    </table>
</div>


