@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_GEModel

@Html.HiddenFor(m => m.P_MW_DSN.DSN)
@Html.HiddenFor(m => m.P_MW_GENERAL_RECORD.UUID)
@Html.HiddenFor(m => m.P_MW_ADDRESS.UUID)
@Html.HiddenFor(m => m.P_MW_PERSON_CONTACT.UUID)


<div class="displayForm">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l1 m12 s12">
                Image(s)
                <br />
                &nbsp;
            </div>
            <div class="w3-col l2 m12 s12 label">
                Incoming
                <br />
                Outgoing
            </div>
            <div class="w3-col l9 m12 s12 data">
                
                <br />
                &nbsp;

            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">
                Ref No.
                <br />
                ICC No.
            </div>
            <div class="w3-col l3 m12 s12">
                @Model.P_MW_REFERENCE_NO.REFERENCE_NO
                <br />
                &nbsp;
                @Model.P_MW_GENERAL_RECORD.ICC_NUMBER
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">
                Language Usage
            </div>
            <div class="w3-col l3 m12 s12">
                <label>
                    @if (Model.IsReadOnly)
                    {
                        @Html.RadioButtonFor(m => m.Language.CODE, "EN", new { @class = "w3-radio", disabled = "true" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m.Language.CODE, "EN", new { @class = "w3-radio" })
                    }
                    English &nbsp;
                </label>
                <label>
                    @if (Model.IsReadOnly)
                    {
                        @Html.RadioButtonFor(m => m.Language.CODE, "ZH", new { @class = "w3-radio", disabled = "true" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m.Language.CODE, "ZH", new { @class = "w3-radio" })
                    }
                    Traditional Chinese &nbsp;
                </label>
            </div>
        </div>
    </div>
</div>