
@model  MWMS2.Areas.Admin.Models.Sys_UMModel

<style type="text/css">
    .inputPassword {
        height: 40px;
        margin: 1px 0px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 21px;
        padding: 3px 5px;
        background-image: linear-gradient(to bottom right, rgba(200, 200, 200, 0.5) 10%, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    }
</style>



<form id="inputForm" method="post" action="SaveUser">

    <div  class="displayForm">
        @*@Html.HiddenFor(x=>x.SYS_POST.SYS_RANK_ID)*@
        @Html.HiddenFor(m => m.SYS_POST.UUID)
        <div class="w3-border displayForm">
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.BD_PORTAL_LOGIN) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.BD_PORTAL_LOGIN,new { @class = "inputUpperCase"})</div>
                    <div class="w3-col l3 m6 s12">Password :</div>
                    <div class="w3-col l3 m6 s12">@Html.PasswordFor(m => m.SYS_POST.PW, new { @class = "inputPassword", @style = "width:49%", id = "pw1" })<input style="width:49%" class="inputPassword" type="password" name="pw2" id="pw2" value="" /><div id="pwErrorMsg" class="errorText"></div></div>
                    @Html.ValidationMessageFor(model => model.SYS_POST.BD_PORTAL_LOGIN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.CODE) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.CODE , new { @class="inputUpperCase"})</div>
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.EMAIL) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.EMAIL)</div>
                    @Html.ValidationMessageFor(model => model.SYS_POST.CODE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.SYS_UNIT_ID)</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.SYS_UNIT_ID)</div>
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.SYS_RANK_ID)</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.SYS_RANK_ID)</div>
                </div>
            </div>


            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.PHONE) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.PHONE)</div>
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.FAX_NO) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.FAX_NO)</div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m6 s12">@Html.LabelFor(m => m.SYS_POST.DSMS_USERNAME) :</div>
                    <div class="w3-col l3 m6 s12">@Html.TextBoxFor(m => m.SYS_POST.DSMS_USERNAME)</div>
                    <div class="w3-col l3 m6 s12">DSMS Password :</div>
                    <div class="w3-col l3 m6 s12">@Html.PasswordFor(m => m.SYS_POST.DSMS_PW, new { @class = "inputPassword", @style = "width:49%", id = "dsms_pw1" })<input style="width:49%" class="inputPassword" type="password" name="dsms_pw2" id="dsms_pw2" value="" /><div id="dsms_pwErrorMsg" class="errorText"></div></div>
                </div>
            </div>

        </div>


        <div class="w3-container footer">
            <button id="saveBtn" class="btn btn-default" type="button"><i class="fa fa-save"></i> Save</button>

        </div>

    </div>
</form>


<script type="text/javascript">
    domReady(function () {
        attr("saveBtn", "onclick", { parameters: {}, callback: savePost })

        new atcp({
            id: "SYS_POST_SYS_UNIT_ID", dataSource: "SysUnit", valueKey: "UUID", displayKey: "CODE"
            , columns: [{ "name": "Section", "key": "SECTION" }, { "name": "Unit", "key": "CODE" }, { "name": "Description", "key": "DESCRIPTION" }]
            , onSelect: function (row) {
                var xxx = atcp.getValue("SYS_POST_SYS_RANK_ID");
                console.log(xxx);
                if (row.CODE == "SC") {

                }
            }
        });

        new atcp({
            id: "SYS_POST_SYS_RANK_ID", dataSource: "SysRank", valueKey: "UUID", displayKey: "CODE"
            , columns: [{ "name": "Rank", "key": "RANK_GROUP" }, { "name": "Rank", "key": "CODE" }, { "name": "Description", "key": "DESCRIPTION" }]
        });

    });


    function savePost() {
        var r = validForm();
        if (r) {
            req("SaveUser", "inputForm", function (data) {
                console.log(data);
                if (data != null && data.Result != null && data.Result == "SUCCESS") {
                    alert("Save Successfully.")
                    goTo("Index");
                }
                else showErrorMessage(data.ErrorMessages);
            });

        }
    }
    function validForm() {
        var pw1, pw2, dsms_pw1, dsms_pw2;
        pw1 = $("#pw1").val();
        pw2 = $("#pw2").val();
        dsms_pw1 = $("#dsms_pw1").val();
        dsms_pw2 = $("#dsms_pw2").val();
        if (!isNullOrUndefined(pw1)) {
            if (!IsPWSame(pw1, pw2)) {
                $("#pwErrorMsg").text("The Password is not the same.");
                return false;
            } else {
                $("#pwErrorMsg").text("");
            }
        }

        if (!isNullOrUndefined(dsms_pw1)) {
            if (!IsPWSame(dsms_pw1, dsms_pw2)) {
                $("#dsms_pwErrorMsg").text("The DSMS Password is not the same.");
                return false;
            } else {
                $("#dsms_pwErrorMsg").text("");
            }
        }
        return true;
    }

    function IsPWSame(pw1, pw2) {
        if (pw1 === pw2) {
            return true;
        } else {

            return false;
        }
    }

    function isNullOrUndefined(val) {
        if (val == null || val == undefined || val == "") {
            return true;
        }
        return false;
    }
</script>
