@model MWMS2.Models.UpdateAppStatusDisplayModel
@using (Html.BeginForm("Save", "Fn04MWCA_UAS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{@Html.HiddenFor(model => model.C_COMP_APPLICATION.UUID)
@Html.HiddenFor(model => model.CatCode)
<script type="text/javascript" charset="utf-8">

    function triggerExport(certNo, exportType) {
        var selectedProcess = document.getElementById('process').value;
        var compAppUuid = document.getElementById('C_COMP_APPLICATION_UUID').value;
        var issueDt = "";
        var lastDocRecDt = "";
        var signature = "";

        // base on selectedProcess, get different input
        if ("1" == selectedProcess) {
            // new Registration
            issueDt = document.getElementById('newRegRptIssueDt').value;
            lastDocRecDt = document.getElementById('newRegLastDocRecDt').value;
            signature = document.getElementById('newRegAuthorityName').value;
        } else if ("2" == selectedProcess) {
            // Retention
            issueDt = document.getElementById('retentionRptIssueDt').value;
            lastDocRecDt = document.getElementById('retentionLastDocRecDt').value;
            signature = document.getElementById('retentionAuthorityName').value;
        } else if ("3" == selectedProcess) {
            // Restoration
            issueDt = document.getElementById('restorationRptIssueDt').value;
            lastDocRecDt = document.getElementById('restorationLastDocRecDt').value;
            signature = document.getElementById('restorationAuthorityName').value;
        } else if ("5" == selectedProcess) {
            // Removal
            issueDt = document.getElementById('removalRptIssueDt').value;
            lastDocRecDt = document.getElementById('removalLastDocRecDt').value;
            signature = document.getElementById('removalAuthorityName').value;
        }

        // check checkbox of Retension missingItem
        var missingItemRetensionChkList = document.getElementsByName("missingItem");
        var checked = "CHECKED";
        var missingItemRetensionNullChk = "";
        var missingItemRetensionChequeChk = "";
        var missingItemRetensionProfRegCertChk = "";
        var missingItemRetensionOthersChk = "";
        var missingItemRetensionIncompleteFormChk = "";
        for (i = 0; i < missingItemRetensionChkList.length; i++) {
            var missingItemChk = missingItemRetensionChkList[i];
            if (missingItemChk.checked) {
                if (i == 0) { missingItemRetensionNullChk = checked; }
                else if (i == 1) { missingItemRetensionChequeChk = checked; }
                else if (i == 2) { missingItemRetensionProfRegCertChk = checked; }
                else if (i == 3) { missingItemRetensionOthersChk = checked; }
                else if (i == 4) { missingItemRetensionIncompleteFormChk = checked; }
            }
        }

        // check checkbox of Restoration missingItem
        var missingItemRestorationChkList = document.getElementsByName("missingItem");
        var missingItemRestorationNullChk = "";
        var missingItemRestorationChequeChk = "";
        var missingItemRestorationProfRegCertChk = "";
        var missingItemRestorationOthersChk = "";
        var missingItemRestorationIncompleteFormChk = "";
        for (i = 0; i < missingItemRetensionChkList.length; i++) {
            var missingItemChk = missingItemRetensionChkList[i];
            if (missingItemChk.checked) {
                if (i == 0) { missingItemRetensionNullChk = checked; }
                else if (i == 1) { missingItemRestorationChequeChk = checked; }
                else if (i == 2) { missingItemRestorationProfRegCertChk = checked; }
                else if (i == 3) { missingItemRestorationOthersChk = checked; }
                else if (i == 4) { missingItemRestorationIncompleteFormChk = checked; }
            }
        }

        // default fileName
        var fileName = "Contractor.txt";

        // default url
        var targetUrl = '/Fn04MWCA_UAS/ExportCertificate';
        if ("CERT" == exportType) {
            targetUrl = '/Fn04MWCA_UAS/ExportCertificate';
        } else if ("LETTER" == exportType) {
            targetUrl = '/Fn04MWCA_UAS/ExportLetter';
        } else if ("LETTER_WITH_CODE" == exportType) {
            targetUrl = '/Fn04MWCA_UAS/ExportLetterWithCode';
        } else {
        }
        downloadFile(targetUrl, {
                process: selectedProcess
                , certNo: certNo
                , compAppUuid: compAppUuid
                , rptIssueDt: issueDt
                , rptRcvdDt: lastDocRecDt
                , signature: signature
                , missingItemRetensionNullChk: missingItemRetensionNullChk
                , missingItemRetensionChequeChk: missingItemRetensionChequeChk
                , missingItemRetensionProfRegCertChk: missingItemRetensionProfRegCertChk
                , missingItemRetensionOthersChk: missingItemRetensionOthersChk
                , missingItemRetensionIncompleteFormChk: missingItemRetensionIncompleteFormChk
                , missingItemRestorationNullChk: missingItemRestorationNullChk
                , missingItemRestorationChequeChk: missingItemRestorationChequeChk
                , missingItemRestorationProfRegCertChk: missingItemRestorationProfRegCertChk
                , missingItemRestorationOthersChk: missingItemRestorationOthersChk
                , missingItemRestorationIncompleteFormChk: missingItemRestorationIncompleteFormChk
        });
        //$.ajax({
        //    type: "POST",
        //    url: targetUrl,
        //    //contentType: "charset=utf-8;",
        //    data: {
        //        process: selectedProcess
        //        , certNo: certNo
        //        , compAppUuid: compAppUuid
        //        , rptIssueDt: issueDt
        //        , rptRcvdDt: lastDocRecDt
        //        , signature: signature
        //        , missingItemRetensionNullChk: missingItemRetensionNullChk
        //        , missingItemRetensionChequeChk: missingItemRetensionChequeChk
        //        , missingItemRetensionProfRegCertChk: missingItemRetensionProfRegCertChk
        //        , missingItemRetensionOthersChk: missingItemRetensionOthersChk
        //        , missingItemRetensionIncompleteFormChk: missingItemRetensionIncompleteFormChk
        //        , missingItemRestorationNullChk: missingItemRestorationNullChk
        //        , missingItemRestorationChequeChk: missingItemRestorationChequeChk
        //        , missingItemRestorationProfRegCertChk: missingItemRestorationProfRegCertChk
        //        , missingItemRestorationOthersChk: missingItemRestorationOthersChk
        //        , missingItemRestorationIncompleteFormChk: missingItemRestorationIncompleteFormChk
        //    },
        //    success: function (data) {
        //        download(fileName, data);
        //    }
        //})
    }



    //calculater Date
    function calDate(id) {
        var postDate;

        var selectedProcess = document.getElementById("process");
        var selectedType = selectedProcess.options[selectedProcess.selectedIndex].text;

        if (selectedType == 'New Registration') {
            postDate = $('#C_COMP_APPLICATION_REGISTRATION_DATE').val()
        }
        else if (selectedType == 'Retention') {
            postDate = $('#C_COMP_APPLICATION_RETENTION_DATE').val()
        }
        else if (selectedType == 'Restoration') {
            postDate = $('#C_COMP_APPLICATION_RESTORE_DATE').val()
        }


        document.getElementById("NewRegExtDate").value = "";
        document.getElementById("RetExtDate").value = "";
        document.getElementById("RetAppDate").value = "";
        document.getElementById("ResExtDate").value = "";
        document.getElementById("ResAppDate").value = "";

        $(".EditClass").html("");

        var NewRegValPerList = $("#NewRegVP option:selected").text();

        var RetValPerList = $("#RetVP option:selected").text();

        var ResValPerList = $("#ResVP option:selected").text();

        $.post("@Url.Action("CalculateDate","Fn04MWCA_UAS")", { id: id, registrationDate: postDate ,selectedType: selectedType, NewRegValPerList: NewRegValPerList, RetValPerList: RetValPerList, ResValPerList: ResValPerList, code: document.getElementById("CatCode").value }
            , function (data) {
                console.log("***");
                console.log(data.EXTEND_DATE);
                console.log("***");
                if (selectedType =="New Registration") {
                    document.getElementById("NewRegExtDate").value = data.NEWREGEXTEND_DATE;
                }
                else if (selectedType =="Retention") {
                    document.getElementById("RetExtDate").value = data.RETEXTEND_DATE;
                    document.getElementById("RetAppDate").value = data.DateRetApp;
                }
                else if (selectedType =="Restoration") {
                    document.getElementById("ResExtDate").value = data.RESEXTEND_DATE;
                    document.getElementById("ResAppDate").value = data.DateResApp;
                }
            });
    }

    // download a file
    function download(filename, text) {
        //alert("SS: " + decodeURIComponent(text));
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + decodeURIComponent(text));
        element.setAttribute('download', filename);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
</script>

<div class="panelHeader">MW Company Application &gt; Update application status</div>
<div class="displayForm">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">File Reference:</div>
            <div class="w3-col l3 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.FILE_REFERENCE_NO)</div>
            <div class="w3-col l3 m6 s12">BR No.:</div>
            <div class="w3-col l3 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.BR_NO)</div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">@Html.LabelFor(o => o.C_COMP_APPLICATION.ENGLISH_COMPANY_NAME) :</div>
            <div class="w3-col l9 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.ENGLISH_COMPANY_NAME)</div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Company Name (Chn):</div>
            <div class="w3-col l9 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.CHINESE_COMPANY_NAME)</div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of application:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">
                @*@Html.DisplayFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE)*@
                    </span></div>
            <div class="w3-col l3 m6 s12">Registration No.:</div>
            <div class="w3-col l3 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.CERTIFICATION_NO)</div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of gazette:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.GAZETTE_DATE)</span></div>

            <div class="w3-col l3 m6 s12">Date of registration:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">
                @*@Html.DisplayFor(o => o.C_COMP_APPLICATION.REGISTRATION_DATE)*@
                    @Model.C_COMP_APPLICATION.REGISTRATION_DATE
                    </span></div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Extended date of expiry:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.EXTEND_DATE)</span></div>
            <div class="w3-col l3 m6 s12">Date of expiry:</div>
            <div class="w3-col l3 m6 s12">@Html.DisplayFor(o => o.C_COMP_APPLICATION.EXPIRY_DATE)</div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of retention application:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.RETENTION_APPLICATION_DATE)</span></div>
            <div class="w3-col l3 m6 s12">Date of retention:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.RETENTION_DATE)</span></div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of restoration application:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.RESTORATION_APPLICATION_DATE)</span></div>

            <div class="w3-col l3 m6 s12">Date of restoration:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">
                @*@Html.DisplayFor(o => o.C_COMP_APPLICATION.RESTORE_DATE)*@
                    @Model.C_COMP_APPLICATION.RESTORE_DATE
                    </span></div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Date of removal:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.REMOVAL_DATE)</span></div>

            <div class="w3-col l3 m6 s12">Date of approval:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.APPROVAL_DATE)</span></div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m6 s12">Vetting Date:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.VETTING_DATE)</span></div>

            <div class="w3-col l3 m6 s12">Date of mail:</div>
            <div class="w3-col l3 m6 s12"><span class="EditClass">@Html.DisplayFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE)</span></div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">Address(English):</div>
            <div class="w3-col l9 m6 s12">
                @Html.Raw(Model.C_ADDRESS_English.ADDRESS_FULL_HTML_DISPLAY)
            </div>
        </div>
    </div>


    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">Select process:</div>
            <div class="w3-col l6 m12 s12">
                @Html.DropDownListFor(model => model.DateType, Model.DateTypeList, new { @id = "process", @onchange = "onChangeProcess()" })
            </div>
        </div>
    </div>

    <div id="processContent" style="display:none">
        @if (Model.SaveSuccess == true)
        {
            <div id="completed" style="color:green">Application has been updated</div>
        }
        <div id="pnlNewReg">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of application:</div>
                        <div class="w3-col l3 m6 s12" id="pnlNewRegApplicationDate">
                        @*@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE, new { @class = "inputDate" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Form used:</div>
                        <div class="w3-col l3 m6 s12">@Html.DropDownListFor(model => model.C_COMP_APPLICATION.APPLICATION_FORM_ID, Model.MWCAFormList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-row l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Validity period:</div>
                        <div class="w3-col l2 m6 s12" id="pnlNewRegPeriodOfValidityID"> 
                        @*@Html.DropDownListFor(model => model.C_COMP_APPLICATION.PERIOD_OF_VALIDITY_ID, Model.ValidityPeriodList, new { @id = "NewRegVP", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })*@
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of Registration:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.REGISTRATION_DATE, new { @class = "inputDate", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })</div>
                        <div class="w3-col l3 m6 s12">Date of Gazette:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.GAZETTE_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of Approval:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPROVAL_DATE, new { @class = "inputDate" })</div>
                        <div class="w3-col l3 m6 s12">Extended Date of Expiry:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(model => model.NewRegExtDate, new { @id = "NewRegExtDate", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><u>Print Parameters:</u></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Issue Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="newRegRptIssueDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Last Document Received Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="newRegLastDocRecDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Signature Name:</div>
                        <div class="w3-col l2 m6 s12">@Html.DropDownListFor(model => model.newRegAuthorityName, Model.AuthorityList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintCert" href="javascript:triggerExport('RPT0011B', 'CERT')">Export Certificate (RPT0011b)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0005B', 'LETTER')">Export Letter: Application for Inclusion (MMD0005b)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pnlNewRegConf">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"></div>
                        <div class="w3-col l4 m6 s12">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)
                            <label for="chkNewRegConfirm">Confirmation on issue of Certificate</label>
                        </div>
                        <div class="w3-col l2 m6 s12">Date of mail:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
            </div>
            @*<table id="tblNewRegConf" cellspacing="0" cellpadding="2" width="100%" border="0">
                    <tr>
                        <td width="10"></td>
                        <td width="50%">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)
                            <label for="chkNewRegConfirm">Confirmation on issue of Certificate</label>
                        </td>
                        <td>Date of mail:</td>
                        <td>@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</td>
                    </tr>
                </table>*@
        </div>

        <div id="pnlRetention">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of application:</div>
                        <div class="w3-col l3 m6 s12" id="pnlRetentionApplicationDate">
                        @*@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE, new { @class = "inputDate" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Form used:</div>
                        <div class="w3-col l3 m6 s12">@Html.DropDownListFor(model => model.C_COMP_APPLICATION.APPLICATION_FORM_ID, Model.MWCAFormList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Validity period:</div>
                        <div class="w3-col l3 m6 s12" id="pnlRetentionPeriodOfValidityID">
                            @*@Html.DropDownListFor(model => model.C_COMP_APPLICATION.PERIOD_OF_VALIDITY_ID, Model.ValidityPeriodList, new { @id = "RetVP", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Date of approval:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPROVAL_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of retention:</div>
                        <div class="w3-col l3 m6 s12">
                            @Html.TextBoxFor(o => o.C_COMP_APPLICATION.RETENTION_DATE, new { @class = "inputDate", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })
                        </div>
                        <div class="w3-col l3 m6 s12">Date of retention application:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(model => model.dateRetentionApplcationRet, new { @id = "RetAppDate", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Missing items: <span class="w3-hide-medium w3-hide-small"><br /><br /><br /><br />&nbsp;</span></div>
                        <div class="w3-col l3 m6 s12">
                            <input type="hidden" value="2" name="ProcessPage" id="processPage" disabled="disabled" />
                            @foreach (var item in Model.MissItemByType)
                            {
                                string tmp = "";
                                if (item.Selected == true)
                                { tmp = "checked"; }

                                <input type="checkbox" value="@item.Value" @tmp name="missingItemRet" id="@item.Value" />
                                @Html.Label(item.Text, new { @for = @item.Value })
                                <br />

                            }
                        </div>
                        <div class="w3-col l3 m6 s12">Vetting Date:</div>
                        <div class="w3-col l3 m6 s12">
                            @if (Model.DateVetting is null) { Model.DateVetting = DateTime.Today; }
                            @Html.TextBoxFor(model => model.DateVetting, new { @class = "inputDate" })
                        </div>
                        <div class="w3-col l3 m6 s12">Extended Date of Expiry: <span class="w3-hide-medium w3-hide-small"><br /><br /><br />&nbsp;</span></div>
                        <div class="w3-col l3 m6 s12">
                            @Html.TextBoxFor(model => model.RetExtDate, new { @id = "RetExtDate", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><u>Print Parameters:</u></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Issue Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="retentionRptIssueDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Last Document Received Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="date" id="retentionLastDocRecDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Signature Name:</div>
                        <div class="w3-col l2 m6 s12">@Html.DropDownListFor(model => model.retentionAuthorityName, Model.AuthorityList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintCert" href="javascript:triggerExport('RPT0011B', 'CERT')">Export Certificate (RPT0011b)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0008B_1', 'LETTER_WITH_CODE')">Export Letter: Restoration of Registration in the Register (MMD0008b_1)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0008B_2', 'LETTER_WITH_CODE')">Export Letter: Restoration of Registration in the Register (MMD0008b_2)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('FAX_TEMPLATE_RETENTION', 'LETTER_WITH_CODE')">Export Letter: Fax Template</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="pnlRetentConf">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"></div>
                        <div class="w3-col l3 m6 s12">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)
                            <label for="chkRetentConfirmRetConfirm">Confirmation on issue of Certificate</label>
                        </div>
                        <div class="w3-col l3 m6 s12">Date of mail:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
            </div>
            @*<table id="tblRetentConf" cellspacing="0" cellpadding="2" width="100%" border="0">
                    <tr>
                        <td width="10"></td>
                        <td width="50%">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)
                            <label for="chkRetentConfirmRetConfirm">Confirmation on issue of Certificate</label>
                        </td>
                        <td width="20%">Date of mail:</td>
                        <td>@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</td>
                    </tr>
                </table>*@
        </div>

        <div id="pnlRestoration">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of application:</div>
                        <div class="w3-col l3 m6 s12" id="pnlRestorationApplicationDate">
                        @*@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE, new { @class = "inputDate" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Form used:</div>
                        <div class="w3-col l3 m6 s12">@Html.DropDownListFor(model => model.C_COMP_APPLICATION.APPLICATION_FORM_ID, Model.MWCAFormList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Validity period:</div>
                        <div class="w3-col l3 m6 s12" id="pnlRestorationPeriodOfValidityID">
                        @*@Html.DropDownListFor(model => model.C_COMP_APPLICATION.PERIOD_OF_VALIDITY_ID, Model.ValidityPeriodList, new { @id = "ResVP", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Form used:</div>
                        <div class="w3-col l3 m6 s12">@Html.DropDownListFor(model => model.C_COMP_APPLICATION.APPLICATION_FORM_ID, Model.MWCAFormList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of restoration:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.RESTORE_DATE, new { @class = "inputDate", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })</div>
                        <div class="w3-col l3 m6 s12">Date of restoration application:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(model => model.dateRestorationApplicationRes, new { @id = "ResAppDate", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Missing items: <span class="w3-hide-medium w3-hide-small"><br /><br /><br /><br />&nbsp;</span></div>
                        <div class="w3-col l3 m6 s12">
                            @foreach (var item in Model.MissItemByType)
                            {
                                string tmp = "";
                                if (item.Selected == true)
                                { tmp = "checked"; }


                                <input type="checkbox" value="@item.Value" @tmp name="missingItem" id="@item.Value" />
                                @Html.Label(item.Text, new { @for = @item.Value })
                                <br />

                            }
                        </div>
                        <div class="w3-col l3 m6 s12">Vetting Date:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(model => model.DateVetting, new { @class = "inputDate" })</div>
                        <div class="w3-col l3 m6 s12">Extended Date of Expiry: <span class="w3-hide-medium w3-hide-small"><br /><br /><br />&nbsp;</span></div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(model => model.ResExtDate, new { @id = "ResExtDate", @readonly = "readonly" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><u>Print Parameters:</u></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Issue Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="restorationRptIssueDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Last Document Received Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="restorationLastDocRecDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Signature Name:</div>
                        <div class="w3-col l2 m6 s12">@Html.DropDownListFor(model => model.restorationAuthorityName, Model.AuthorityList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintCert" href="javascript:triggerExport('RPT0011B', 'CERT')">Export Certificate (RPT0011b)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0009B', 'LETTER_WITH_CODE')">Export Letter: Restoration of Registration in the Register (MMD0009b)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('FAX_TEMPLATE_RESTORATION', 'LETTER_WITH_CODE')">Export Letter: Fax Template</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pnlRestoreConf">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"></div>
                        <div class="w3-col l3 m6 s12">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)Confirmation on issue of Certificate
                        </div>
                        <div class="w3-col l3 m6 s12">Date of mail:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
            </div>
            @*<table id="tblRestoreConf" cellspacing="0" cellpadding="2" width="100%" border="0">
                    <tr>
                        <td width="10"></td>
                        <td width="30%">
                            @Html.CheckBoxFor(model => model.isConfirmMail, false)Confirmation on issue of Certificate
                        </td>
                        <td width="20%">Date of mail:</td>
                        <td>@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</td>
                    </tr>
                </table>*@
        </div>

        <div id="pnlReRegistration">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of application:</div>
                        <div class="w3-col l3 m6 s12" id="pnlReRegistrationApplicationDate">
                        @*@Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE, new { @class = "inputDate" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Form used:</div>
                        <div class="w3-col l3 m6 s12">@Html.DropDownListFor(model => model.C_COMP_APPLICATION.APPLICATION_FORM_ID, Model.MWCAFormList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Validity period:</div>
                        <div class="w3-col l3 m6 s12" id="pnlReRegistrationPeriodOfValidityID">
                        @*@Html.DropDownListFor(model => model.C_COMP_APPLICATION.PERIOD_OF_VALIDITY_ID, Model.ValidityPeriodList, new { @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })*@
                        </div>
                        <div class="w3-col l3 m6 s12">Registration no.:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.CERTIFICATION_NO)</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pnlRemoval">
            <div class="displayForm">
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Date of Removal:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.REMOVAL_DATE, new { @class = "inputDate" })</div>
                        <div class="w3-col l3 m6 s12">Date of mail:</div>
                        <div class="w3-col l3 m6 s12">@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><u>Print Parameters:</u></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Issue Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="removalRptIssueDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Last Document Received Date:</div>
                        <div class="w3-col l2 m6 s12"><input type="text" id="removalLastDocRecDt" class="inputDate"></div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12">Signature Name:</div>
                        <div class="w3-col l2 m6 s12">@Html.DropDownListFor(model => model.removalAuthorityName, Model.AuthorityList)</div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0007B_1', 'LETTER_WITH_CODE')">Export Letter: Removal of Contractor in the Register (MMD0007b_1)</a>
                        </div>
                    </div>
                </div>
                <div class="w3-row">
                    <div class="w3-col l12 m12 s12">
                        <div class="w3-col l3 m6 s12"><img src="~/img/form.gif" />&nbsp;</div>
                        <div class="w3-col l9 m6 s12">
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0007B_2', 'LETTER_WITH_CODE')">Export Memo: Memo of removal of Contractor in the Register (MMD0007b_2)</a>
                        </div>
                    </div>
                </div>
            </div>
            @*<table id="Table9" cellspacing="0" cellpadding="2" width="100%" border="0">
                    <tr>
                        <td width="30%">Date of Removal:</td>
                        <td>@Html.TextBoxFor(o => o.C_COMP_APPLICATION.REMOVAL_DATE, new { @class = "inputDate" })</td>
                        <td width="20%">Date of mail:</td>
                        <td>@Html.TextBoxFor(o => o.C_COMP_APPLICATION.DOCUMENT_MAIL_DATE, new { @class = "inputDate" })</td>
                    </tr>
                </table>
                <table id="Table3" cellspacing="0" cellpadding="2" width="720" border="0">
                    <tr>
                        <td width="10"></td>
                        <td align="left" colspan="2"><hr width="99%" color="darkgray" size="2" /></td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td colspan="2"><u>Print Parameters:</u></td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="50%">Issue Date:</td>
                        <td><input type="text" id="removalRptIssueDt" class="inputDate"></td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="50%">Last Document Received Date:</td>
                        <td>
                            <input type="text" id="removalLastDocRecDt" class="inputDate">
                        </td>
                    </tr>
                    <tr>
                        <td width="10"></td>
                        <td width="30%">Signature Name:</td>
                        <td>
                            @Html.DropDownListFor(model => model.removalAuthorityName, Model.AuthorityList)
                        </td>
                    </tr>
                    <tr>
                        <td style="FONT-SIZE: 5px" colspan="3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td id="TD1" width="10"></td>
                        <td id="TD2" colspan="2">
                            <img src="~/img/form.gif" />&nbsp;
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0007B_1', 'LETTER_WITH_CODE')">Export Letter: Removal of Contractor in the Register (MMD0007b_1)</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="TD1" width="10"></td>
                        <td id="TD2" colspan="2">
                            <img src="~/img/form.gif" />&nbsp;
                            <a id="btnPrintLtr1" href="javascript:triggerExport('MMD0007B_2', 'LETTER_WITH_CODE')">Export Memo: Memo of removal of Contractor in the Register (MMD0007b_2)</a>
                        </td>
                    </tr>
                    <tr> </tr>
                </table>*@
        </div>
    </div>
    <div class="w3-container footer">
        @*<input type="submit" value="Save" class="saveButton btn btn-default" />*@
        @if (MWMS2.Utility.AuthUtil.CanEdit)
        {<button type="submit" value="Save" class="saveButton btn btn-default"><i class="fa fa-save"></i> Save</button>}
        <button class="FinishButton backButton btn btn-default" type="button"> Finish</button>
    </div>
</div>


}

<div style="display:none" class="displayForm">
    <div id="applicationDate">
        @Html.TextBoxFor(o => o.C_COMP_APPLICATION.APPLICATION_DATE, new { @class = "inputDateAppend" })
    </div>

    <div id="periodofValidityID">
        @Html.DropDownListFor(model => model.C_COMP_APPLICATION.PERIOD_OF_VALIDITY_ID, Model.ValidityPeriodList, new { @id = "NewRegVP", @onchange = "calDate('" + Model.C_COMP_APPLICATION.UUID + "');" })
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        onChangeProcess();
    });

    //Remove Application Date
    function RemoveApplicationDate() {
        document.getElementById("pnlNewRegApplicationDate").innerHTML = "";
        document.getElementById("pnlRetentionApplicationDate").innerHTML = "";
        document.getElementById("pnlRestorationApplicationDate").innerHTML = "";
        document.getElementById("pnlReRegistrationApplicationDate").innerHTML = "";

    }

    //Remove Period of Validity ID
    function RemovePeriodofValidityID() {
        document.getElementById("pnlNewRegPeriodOfValidityID").innerHTML = "";
        document.getElementById("pnlRetentionPeriodOfValidityID").innerHTML = "";
        document.getElementById("pnlRestorationPeriodOfValidityID").innerHTML = "";
        document.getElementById("pnlReRegistrationPeriodOfValidityID").innerHTML = "";
    }

    function onChangeProcess() {
        $("#processContent").css({ "display": "" });
        var pContent = $("#process").val();

        var applicationDateHtml = document.getElementById("applicationDate").innerHTML;
        var periodofValidityIDHtml = document.getElementById("periodofValidityID").innerHTML; 

        if (pContent == 0) {
            $("#pnlNewRegConf").hide();
            $("#pnlNewReg").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#pnlRestoreConf").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 1) {
            RemoveApplicationDate();
            attr("pnlNewRegApplicationDate", "html", applicationDateHtml);

            RemovePeriodofValidityID();
            attr("pnlNewRegPeriodOfValidityID", "html", periodofValidityIDHtml);

            $("#pnlNewRegConf").hide();
            $("#pnlNewReg").show();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRestoreConf").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 6) {
            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").show();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#pnlRestoreConf").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 2) {
            RemoveApplicationDate();
            attr("pnlRetentionApplicationDate", "html", applicationDateHtml);

            RemovePeriodofValidityID();
            attr("pnlRetentionPeriodOfValidityID", "html", periodofValidityIDHtml);

            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").show();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#pnlRestoreConf").hide();
            $("#processPage").attr("disabled", false);
        }
        if (pContent == 7) {
            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").show();
            $("#pnlRestoration").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#pnlRestoreConf").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 3) {
            RemoveApplicationDate();
            attr("pnlRestorationApplicationDate", "html", applicationDateHtml);

            RemovePeriodofValidityID();
            attr("pnlRestorationPeriodOfValidityID", "html", periodofValidityIDHtml);

            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").show();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#pnlRestoreConf").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 8) {
            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRestoreConf").show();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 5) {
            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRestoreConf").hide();
            $("#pnlRemoval").show();
            $("#pnlReRegistration").hide();
            $("#processPage").attr("disabled", "disabled");
        }
        if (pContent == 4) {
            RemoveApplicationDate();
            attr("pnlReRegistrationApplicationDate", "html", applicationDateHtml);

            RemovePeriodofValidityID();
            attr("pnlReRegistrationPeriodOfValidityID", "html", periodofValidityIDHtml);

            $("#pnlNewReg").hide();
            $("#pnlNewRegConf").hide();
            $("#pnlRetention").hide();
            $("#pnlRetentConf").hide();
            $("#pnlRestoration").hide();
            $("#pnlRestoreConf").hide();
            $("#pnlRemoval").hide();
            $("#pnlReRegistration").show();
            $("#processPage").attr("disabled", "disabled");
        }
        datepickize('.inputDateAppend');
    }

    function processHideAll() {
        var pContent2 = $("#processContent").css({ "display": " " });
    }
</script>