@model MWMS2.Areas.Admin.Models.PEM1103UpdateSubmissionRecordModel

<div class="panelHeader">
    Information Page
</div>
<form id="submissionForm" method="post">
    <div class="w3-border displayForm">
        <div class="displayForm" id="Submission_Information">
            <div class="panelHeader">Submission Information</div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Minor Work No./VS No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Correspondence Address
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Commencement Date
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street/Road/Vilage
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Completion Date
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street Number
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        RVD No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Building/Estate
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        PreviousMW No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                    <div class="w3-col l4 m4 s4">
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Floor
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>

                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Flat/Room
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        File Reference No.
                    </div>
                    <div class="w3-col l4 m4 s4">
                        <input type="text" />
                    </div>
                    <div class="w3-col l1 m1 s1">
                        /
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        District
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6"></div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="checkbox" /> Hong Kong
                        <input type="checkbox" /> Kowloon
                        <input type="checkbox" /> New Territories
                    </div>
                </div>
            </div>
        </div>
        <div class="displayForm" id="Privacy_Information">
            <div class="panelHeader">Privacy Information: Particulars of Person who arranged to carry out works</div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        English Name
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Correspondence Address
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Chinese Name
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street/Road/Vilage
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Contact No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street Number
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        HKID/B.R./Passport No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Building/Estate
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Country of Issue
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>

                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Floor
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>

                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Email Address
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Flat/Room
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Fax No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        District
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6"></div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="checkbox" /> Hong Kong
                        <input type="checkbox" /> Kowloon
                        <input type="checkbox" /> New Territories
                    </div>
                </div>
            </div>
        </div>
        <div class="displayForm" id="Privacy_Information">
            <div class="panelHeader">Privacy Information: Particulars of Person whom the signboard is be erected</div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        English Name
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Correspondence Address
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Chinese Name
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street/Road/Vilage
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Contact No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street Number
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        HKID/B.R./Passport No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Building/Estate
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Country of Issue
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>

                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Floor
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>

                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Email Address
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Flat/Room
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Fax No.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        District
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>

            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6"></div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="checkbox" /> Hong Kong
                        <input type="checkbox" /> Kowloon
                        <input type="checkbox" /> New Territories
                    </div>
                </div>
            </div>
        </div>
        <div class="displayForm" id="Minor_Work_Item">
            <div class="panelHeader">Minor Work Item</div>
            <table class="w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>Relevant Order/Direection/Notice No./BD Reference No.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.MwRecordMinorWorkItemList.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(model => model.MwRecordMinorWorkItemList[i].UUID)
                            @Html.HiddenFor(model => model.MwRecordMinorWorkItemList[i].MW_ITEM_CODE)
                            <td>@Html.DisplayFor(model => model.MwRecordMinorWorkItemList[i].MW_ITEM_CODE)</td>
                            <td>@Html.TextBoxFor(model => model.MwRecordMinorWorkItemList[i].LOCATION_DESCRIPTION)</td>
                            <td>@Html.TextBoxFor(model => model.MwRecordMinorWorkItemList[i].RELEVANT_REFERENCE)</td>
                            <td><button type="button" class="btn btn-default" onclick="DeleteMinorWorkItem('@Model.MwRecordMinorWorkItemList[i].UUID')">delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <table class="w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <td><button type="button" class="btn btn-default" disabled><i class="far fa-plus-square"></i> Add new Minor Work Item</button></td>
                    </tr>
                    <tr>
                        <th>Item No.</th>
                        <th>Description</th>
                        <th>Relevant Order/Direection/Notice No./BD Reference No.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@Html.TextBoxFor(model => model.MwRecordMinorWorkItem.MW_ITEM_CODE,new  { @id="AddMwItemCode" })</td>
                        <td>@Html.TextBoxFor(model => model.MwRecordMinorWorkItem.LOCATION_DESCRIPTION, new { @id = "AddLocationDescription" })</td>
                        <td>@Html.TextBoxFor(model => model.MwRecordMinorWorkItem.RELEVANT_REFERENCE, new { @id = "AddRelevantReference" })</td>
                        <td>
                            <button type="button" class="btn btn-default" onclick="AddMinorWorkItem()">
                                Add
                            </button>
                        </td>
                        @*<td><input type="text" id="minor_itemNo" /></td>
                            <td><input type="text" id="minor_description" /></td>
                            <td><input type="text" id="minor_referenceNo" /></td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="">
                                    Add
                                </button>
                            </td>*@
                        @*<td><button type="button" class="btn btn-default" onclick="goTo('AddMinorWorkItem', [
                              { name: 'Uuid', value: $('#UUID').val()   }
                            , { name: 'ItemNo', value: $('#minor_itemNo').val() }
                            , { name: 'Description', value: $('#minor_description').val() }
                            , { name: 'ReferenceNo', value: $('#minor_referenceNo').val() } ])">Add</button></td>*@
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="displayForm" id="Prescribed_Building">
            <div class="panelHeader">Prescribed Building Professional & Prescribed Registered Contractor</div>
            <table class="w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th>PBP/PRC</th>
                        <th>Certificate of Registration No.</th>
                        <th>English Name</th>
                        <th>Chinese Name</th>
                        <th>English Name of AS</th>
                        <th>Chinese Name of AS</th>
                        <th>Privacy Info Tel No.</th>
                        <th>Fax No.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.AppointedProfessionalList.Count; i++)
                    {
                        if (Model.AppointedProfessionalList[i].IDENTIFY_FLAG == "AP")
                        {
                            <tr>
                                <td>@Model.AppointedProfessionalList[i].IDENTIFY_FLAG</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CERTIFICATION_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].ENGLISH_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CHINESE_NAME)</td>
                                <td></td>
                                <td></td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CONTACT_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].FAX_NO)</td>
                            </tr>
                        }
                        if (Model.AppointedProfessionalList[i].IDENTIFY_FLAG == "RSE")
                        {
                            <tr>
                                <td>@Model.AppointedProfessionalList[i].IDENTIFY_FLAG</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CERTIFICATION_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].ENGLISH_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CHINESE_NAME)</td>
                                <td></td>
                                <td></td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CONTACT_NO)</td>
                                <td></td>
                            </tr>
                        }
                        if (Model.AppointedProfessionalList[i].IDENTIFY_FLAG == "RGE")
                        {
                            <tr>
                                <td>@Model.AppointedProfessionalList[i].IDENTIFY_FLAG</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CERTIFICATION_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].ENGLISH_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CHINESE_NAME)</td>
                                <td></td>
                                <td></td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CONTACT_NO)</td>
                                <td></td>
                            </tr>
                        }
                        if (Model.AppointedProfessionalList[i].IDENTIFY_FLAG == "PRC")
                        {
                            <tr>
                                <td>@Model.AppointedProfessionalList[i].IDENTIFY_FLAG</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CERTIFICATION_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].ENGLISH_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CHINESE_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].ENGLISH_COMPANY_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CHINESE_COMPANY_NAME)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].CONTACT_NO)</td>
                                <td>@Html.TextBoxFor(model => model.AppointedProfessionalList[i].FAX_NO)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panelHeader">Issued Correspondence</div>
        <div class="displayForm" id="Issued_Correspondence">
            @Html.HiddenFor(model => model.UUID)
        </div>
        <div class="displayForm" id="Result">
            <div class="panelHeader">Result</div>
        </div>
        <div class="displayForm" id="Common_Submission_Infomation_of_Letter_Module">
            <div class="panelHeader">Common Submission Information of Letter Module</div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Previous MW No
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Correspondence Address
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        File Reference No.
                    </div>
                    <div class="w3-col l4 m4 s4">
                        <input type="text" />
                    </div>
                    <div class="w3-col l1 m1 s1">
                        /
                    </div>
                    <div class="w3-col l3 m3 s3">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Address
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Paw
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street/Road/Village
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Paw Contact
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Street Number
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        I.O./Mgt.
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Building/Estate
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        I.O./Mgt. Contact
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Floor
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l6 m6 s6"></div>
                <div class="w3-col l6 m6 s6">
                    <div class="w3-col l4 m4 s4">
                        Flat/Room
                    </div>
                    <div class="w3-col l8 m8 s8">
                        <input type="text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panelHeader">Submission of Letter Module</div>
        <div class="displayForm" id="Submission_of_Letter_Module">
            @Html.HiddenFor(model => model.UUID)
        </div>
        <div class="w3-container footer">
            <button type="button" class="btn btn-default" onclick="cancel()">Cancel</button>
            <button id="saveBtn" class="btn btn-default" type="button">Save</button>
            <button id="saveAndExitBtn" class="btn btn-default" type="button">Save And Exit</button>
        </div>
    </div>
</form>

<script>
    domReady(function () {
        new searcher({
            searchPath: "GetIssuedCorrespondence"
            , searchTable: "Issued_Correspondence"
            , resultPanel: "Issued_Correspondence"
            , Columns: [
                {
                    displayName: "Letter Type", columnName: "DOCUMENT_TYPE"
                }
                ,
                {
                    displayName: "Issue Date", columnName: "CREATED_DATE"
                }
                ,
                {
                    displayName: "Document S/N", columnName: "DSN_SUB"
                }
                ,
                {
                    displayName: "Letter Template No.", columnName: "DOCUMENT_TYPE"
                }
                ,
                {
                    displayName: "View Image", formater: function (row) {
                        return createButton("View", "fa fa-file-image", [{
                            "onclick": {
                                parameters: { row: row }, callback: function (d, p, e) {
                                    if (row == null) return;
                                    if (row.FILE_PATH != null) {
                                        //var path = row.FILE_PATH.replace('\\', '/');
                                        goTo(domId("rootPath").value + "/Doc/Download"
                                            , [
                                                { name: "fileType", value: 'PEM' }
                                                , { name: "fileUuid", value: row.FILE_PATH }
                                            ]
                                            , false);
                                    }
                                }
                            }
                        }])
                    }
                }
            ]
        }).search();

        new searcher({
            searchPath: "GetSubmissionOfLetterModule"
            , searchTable: "Submission_of_Letter_Module"
            , resultPanel: "Submission_of_Letter_Module"
            , Columns: [
                {
                    displayName: "Dsn", columnName: "DSN"
                }
                ,
                {
                    displayName: "Form", columnName: "FORM_NO"
                }
                ,
                {
                    displayName: "Commencement Date", columnName: "COMM_DATE"
                }
                ,
                {
                    displayName: "Completion Date", columnName: "COMP_DATE"
                }
                ,
                {
                    displayName: "Mw item", columnName: "MW_ITEM"
                }
                ,
                {
                    displayName: "PBP", columnName: "PBP_NO"
                }
                ,
                {
                    displayName: "PRC", columnName: "PRC_NO"
                }
                ,
                {
                    displayName: "Remarks", columnName: "REMARK"
                }

            ]
        }).search();
    }
    );

    domReady(function () {
        attr('AddMwItemCode', 'value', '');
        attr('AddLocationDescription', 'value', '');
        attr('AddRelevantReference', 'value', '');
    });
    function AddMinorWorkItem() {
        if ($('#AddMwItemCode').val() == null || $('#AddMwItemCode').val() == '') {
            alert('Please input the Item No..');
            return;
        }
        if ($('#AddLocationDescription').val() == null || $('#AddLocationDescription').val() == '') {
            alert('Please input the Description.');
            return;
        }
        if ($('#AddRelevantReference').val() == null || $('#AddRelevantReference').val() == '') {
            alert('Please input the Relevant Order/Direection/Notice No./BD Reference No..');
            return;
        }
        var dlForm = document.getElementById("submissionForm")
        dlForm.action = "AddMinorWorkItem";
        dlForm.submit();
    }

    function DeleteMinorWorkItem(uuid) {
        var dlForm = document.getElementById("submissionForm")
        dom_(dlForm, "input", { "type": "hidden", "name": "itemUUID", "value": uuid });
        dlForm.action = "DeleteMinorWorkItem";
        dlForm.submit();
    }

    function cancel() {
        window.location.href = domId("rootPath").value + "/PEM11/PEM1115";
    }
</script>