

@model IEnumerable<MWMS2.Models.ModelSVSubmission>

<table class="inputTable">
    <tbody>
        <tr>
            <th>No of Outstanding :</th>
            <td id="big01">@Html.Label(Model.Count().ToString())</td>

        </tr>

    </tbody>
</table>
<br>
@using (Html.BeginForm("SMM0104Search", "SMM0104", FormMethod.Get))
{
    //the following are search options


    <table class="inputTable">
        <thead>
            <tr>
                <th colspan="2">Search Document</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Submission No. :</th>
                <td>@Html.TextBox("SubmissionNo", "",new { style = "max-width:300px" }) </td>

            </tr>
            <tr>
                <th>SCU Received Date :</th>
                <td>From<input type="text" class="inputDate" name="ReceivedStartDate" value="">to<input type="text" class="inputDate" name="ReceivedEndDate" value=""> </td>

            </tr>
            <tr>
                <th>Status :</th>
                <td>
                    <select name="m_status" style="width:auto">
                        <option value="All">-All-</option>
                        <option value="item1">item1</option>
                        <option value="item2">item2</option>
                        <option value="item3">item3</option>
                    </select>
                </td>

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Search" />
                    @*<input type="button" class="btnClass" value="Search" onclick="SMM0104Search()">*@
                </td>
            </tr>
        </tfoot>
    </table>
}

    <br />
    <table class="resultTable" id="SMM0104Table">
        <thead>
            <tr>
                <th>Submisson No.</th>
                <th>DSN No</th>
                <th>Form Code</th>
                <th>Received Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Batch Number</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                           
                            @Html.ActionLink(item.SubmissionNo, "SMM0104DataEntryEdit", "SMM0104", new { SubmissionId = item.UUID , SumbissionNo= item.SubmissionNo, FormCode=item.Form_Code},"")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DSN_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Form_Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Received_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @{if (item.Batch_Number == null)
                                {
                                    <input type="button" value="No" />

                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Batch_Number)
                                }
                            }

                        </td>
                    </tr>
                }

            }

        </tbody>




    </table>


    <table class="inputTable">
        <tfoot>
            <tr>
                <td colspan="2">
                    <input type="submit" class="btnClass" value="Assign Batch Number" onclick="SMM0104Assign()">
                </td>
            </tr>
        </tfoot>
    </table>