@model MWMS2.Areas.Admin.Models.PEM1103AuditCheckPercentageModel


@section scripts{

    <script type="text/javascript">
        function YearChange() {
            $.ajax({
                url: "SelectedYearChange",
                type: "POST",
                //content: "application/json; charset=utf-8",
                //dataType: "json",
                data: { year: $('#Year').val() },
                success: function (data) {

                    $('#Percentage').val(data.YearPercentage);
                    if (data.MODIFIED_DATE != undefined) {
                        document.getElementById("MODIFIED_DATE").innerHTML = data.MODIFIED_DATE;
                    }
                    else {
                        document.getElementById("MODIFIED_DATE").innerHTML = ""
                    }
                    if (data.MODIFIED_BY != undefined) {
                        document.getElementById("MODIFIED_BY").innerHTML = data.MODIFIED_BY;
                    }
                    else {
                        document.getElementById("MODIFIED_BY").innerHTML = ""
                    }

                },
            });

        }

    </script>
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}

@using (Html.BeginForm("SetPEM1103AuditCheckPercentage", "PEM1103AuditCheck", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panelHeader">Audit check%</div>
    <div id="searchCriteria" class="w3-border displayForm">
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Year:</div>
                <div class="w3-col l4 m12 s12">
                    @Html.DropDownListFor(model => model.AuditCheckPercentage.YEAR, new SelectList(Model.YearList, "Value", "Text", Model.AuditCheckPercentage.YEAR), new { style = "width:auto", @onchange = "YearChange()", id = "Year" })
                    @*@Html.DropDownListFor(model => model.YEAR, (IEnumerable<SelectListItem>)ViewBag.Year, new { style = "width:auto", @onchange = "YearChange(this)", id = "Year" })*@
                    @*<input type="text" />*@
                </div>
                <div style="text-align: right; width: 100%;">
                    Last Modified Date:
                    <span id="MODIFIED_DATE">
                        @Html.DisplayFor(model => model.AuditCheckPercentage.MODIFIED_DATE)
                    </span>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Assign Ref. No. :</div>
                <div class="w3-col l4 m12 s12">
                    @Html.TextBoxFor(model => model.AuditCheckPercentage.PERCENTAGE, new { style = "width:200px;", id = "Percentage", @type = "number", @min = "0", @max = "100" }) %
                    @*<input type="text" />*@
                </div>
                <div style="text-align: right; width: 100%;">
                    Last Modified By:
                    <span id="MODIFIED_BY">
                        @Html.DisplayFor(model => model.AuditCheckPercentage.MODIFIED_BY)
                    </span>
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            <input type="submit" id="submit" value="Submit" />
            @*<button class="btn btn-default" type="button">Save</button>*@
            @*<button class="btn btn-default" type="button">Cancel</button>*@
            <input class="inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='cancel()' type="button">
        </div>
    </div>
    <div style="display:none">
        @Html.EditorForModel()
    </div>
}
    <script>
        function cancel() {
           // window.location.href = domId("rootPath").value + "/PEM1103/PEM1103";
            goTo(domId("rootPath").value + '/PEM1103/PEM1103', [{ name: 'pageCode', value: '100601' }]);
        }
    </script>
