@model MWMS2.Areas.Registration.Models.Fn06CMM_CMMSearchModel

<form id="inputForm">
    @Html.HiddenFor(model => model.C_COMMITTEE.UUID)
    <div class="panelHeader">Search Member</div>
    <div class="displayForm">

        <div class="w3-col l12 m12 s12">
            <div class="w3-col l12 m12 s12">
                @Html.RadioButtonFor(model => model.SearchType, "1", new { id = "SearchType1" })<label for="SearchType1">By Panel</label>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Panel :</div>
                <div class="w3-col l3 m12 s12">@Html.DropDownListFor(model => model.Panel, Model.SYSTEM_TYPE_PANEL_TYPE_List)</div>
                <div class="w3-col l3 m12 s12">Year :</div>
                <div class="w3-col l3 m12 s12">@Html.DropDownListFor(model => model.Year, Model.YEAR_List)</div>
            </div>
        </div>
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l12 m12 s12">
                @Html.RadioButtonFor(model => model.SearchType, "2", new { id = "SearchType2" })<label for="SearchType2">One-By-One</label>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">@Html.LabelFor(o => o.Surname) :</div>
                <div class="w3-col l3 m12 s12">@Html.TextBoxFor(o => o.Surname)</div>
                <div class="w3-col l3 m12 s12">@Html.LabelFor(o => o.GivenName) :</div>
                <div class="w3-col l3 m12 s12">@Html.TextBoxFor(o => o.GivenName)</div>
            </div>
        </div>
        <div class="w3-container footer">
            <button class="searchButton btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l12 m12 s12"><div id="resultPanel"></div></div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="displayForm">
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Panel :</div>
                <div class="w3-col l3 m12 s12">
                    @if (Model.C_COMMITTEE == null)
                    {
                        @Html.DropDownListFor(o => o.C_COMMITTEE.C_COMMITTEE_PANEL.PANEL_TYPE_ID, Model.SYSTEM_TYPE_PANEL_TYPE_List)
                    }
                    else
                    {
                        @Html.DisplayTextFor(o => o.C_COMMITTEE.C_COMMITTEE_PANEL.C_S_SYSTEM_VALUE.CODE)
                    }

                </div>
                <div class="w3-col l3 m12 s12">Year :</div>
                <div class="w3-col l3 m12 s12">
                    @if (Model.C_COMMITTEE == null)
                    {
                        @Html.DropDownListFor(o => o.C_COMMITTEE.YEAR, Model.YEAR_List)
                    }
                    else
                    {
                        @Html.DisplayTextFor(o => o.C_COMMITTEE.YEAR)
                    }

                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Committee :</div>
                <div class="w3-col l3 m12 s12">
                    @if (Model.C_COMMITTEE == null)
                    {
                        @Html.DropDownListFor(o => o.C_COMMITTEE.COMMITTEE_TYPE_ID, Model.SYSTEM_TYPE_COMMITTEE_TYPE_List_BY_PARENT)
                    }
                    else
                    {
                        @Html.DisplayTextFor(o => o.C_COMMITTEE.C_S_SYSTEM_VALUE.CODE)
                    }

                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l12 m12 s12"><div id="resultPanel2"></div></div>
            </div>
        </div>
    </div>

    @Html.DropDownList("panelRoleTemp", Model.PANEL_ROLE_List, new { @class = "hide" })

</form>




<script type="text/javascript">
    domReady(function () {
        $('#C_COMMITTEE_C_COMMITTEE_PANEL_PANEL_TYPE_ID').on('change', function (e) {

            $.ajax({
                type: "POST",
                url: 'getComTypeByParent',
                data: {

                    pUUID: $('#C_COMMITTEE_C_COMMITTEE_PANEL_PANEL_TYPE_ID').val(),

                },
                success: function (data) {
                    console.log(data);
                    if (data != null) {
                        $("#C_COMMITTEE_COMMITTEE_TYPE_ID option").remove();
                        for (var i = 0; i < data.length; i++) {

                            var sel = document.getElementById('C_COMMITTEE_COMMITTEE_TYPE_ID');
                            var opt = document.createElement('option');
                            opt.appendChild(document.createTextNode(data[i].Text));
                            opt.value = data[i].Value;
                            sel.appendChild(opt);
                        }

                    }

                }
            });
        });

        new searcher({
            searchPath: "SearchPanelMember"
            , searchTable: "inputForm"
            , resultPanel: "resultPanel"
            , Sort: "NAME"
            , Columns: [
                {
                    headerFormater: function () {
                        var checkbox = dom("input");
                        attr(checkbox, "type", "checkbox");
                        attr(checkbox, "addClass", "checkAllMember");
                        return checkbox;
                    }, formater: function (row, idx) {
                        var checkbox = dom("input");
                        attr(checkbox, "type", "checkbox");
                        attr(checkbox, "addClass", "checkMember");
                        attr(checkbox, "name", "CheckMembers");
                        attr(checkbox, "value", row.UUID);
                        return checkbox;
                    }
                }
                , { displayName: "Name", columnName: "NAME" }
                , { displayName: "Rank", columnName: "RANK" }
                , { displayName: "Post", columnName: "POST" }
                , { displayName: "Career", columnName: "CAREER" }

            ]
            , onAfterSearch: function () {
                checkAller("checkAllMember", "checkMember");
            }
            , resultFootButtons: [
                createButton("Add to Member List", "fa-save", [{
                    "onclick": {
                        parameters: {}, callback: function () {
                            req("AddToMember", "inputForm", function (d) {
                                draftingTable.search();
                            });
                        }
                    }
                }])
            ]
        });

















        var draftingTable = new searcher({
            searchPath: "SearchCommitteeMember"
            , searchTable: "C_COMMITTEE_UUID"
            , resultPanel: "resultPanel2"
            , Sort: "NAME"
            , Columns: [
                { displayName: "Name", columnName: "NAME" }
                , { displayName: "HKID/Passport No", columnName: "HKID_PASSPORT" }
                , { displayName: "Rank", columnName: "RANK" }
                , { displayName: "Post", columnName: "POST" }
                , { displayName: "Career", columnName: "CAREER" }
                , {
                    displayName: "Role", formater: function (row, idx) {
                        var select = dom("select");
                        var options = domId("panelRoleTemp").querySelectorAll('option');
                        for (var i = 0; i < options.length; i++) {
                            var option = dom_(select, "option", [{ value: options[i].value }, { html: options[i].innerHTML }]);
                            if (row.ROLE_ID == options[i].value) attr(option, "selected", true);
                        }
                        attr(select, "name", "PanelRole[" + row.UUID + "]");
                        attr(select, "id", row.UUID);
                        return select;
                    }
                }
                , {
                    displayName: "&nbsp;", formater: function (row) {
                        var btn =
                            createButton("", "fa-trash"
                                , [{
                                    "onclick": {
                                        parameters: { row: row.UUID }
                                        , callback: function (d, p, e) {
                                            req("Delete", p.row, function (ret) {
                                                draftingTable.search();
                                            });
                                        }
                                    }
                                }, { "addClass": "w3-red" }]);
                        return btn;
                    }
                }
            ]
            , resultFootButtons: [
                createButton("Cancel", "fa fa-times", [{
                    "addClass": "backButton"
                    , "onclick": {
                        parameters: {}, callback: function () {
                            addClass(document.body, "bodyLoading");
                            history.go(-1);
                        }
                    }
                }])
                , createButton("Save", "fa-save", [{
                    "onclick": {
                        parameters: {}, callback: function () {
                            attr("inputForm", "addClass", "saving");
                            req("Save", "inputForm", function (data) {
                                attr("inputForm", "dropClass", "saving");
                                if (data != null && data.Result != null && data.Result == "SUCCESS") { goTo("Index"); }
                                else showErrorMessage(data.ErrorMessages);
                                //draftingTable.search();
                            });


                        }
                    }
                }])
            ]
        }).search();
    });

</script>