@model MWMS2.Areas.Signboard.Models.Fn04RPT_MSSearchModel

@using (Html.BeginForm("Excel", "Fn04RPT_MS", FormMethod.Post, new { @id = "taskForm", enctype = "multipart /form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.PeriodDateFrom)
    @Html.HiddenFor(model => model.PeriodDateTo)

    <div class="panelHeader">Monthly Statistics</div>
    <div class="displayForm" style="overflow-x:auto">
        <table class="resultTable" style="width: 180%;  max-width: 180%; table-layout: fixed;  word-wrap: break-word;">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>

                    </th>
                    @{
                        foreach (var item in Model.MonthList)
                        {
                          <th>@item.ToString("MMM-yyyy", new System.Globalization.CultureInfo("en-US"))</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                <tr class="sRow2">

                    <td class="sCell" rowspan="4" width=60 rowSPAN=6 style="background-color:#DCE6F2;">
                        MW
                        <br />
                        Class I
                    </td>
                    <td class="sCell" width=80>
                        Acknowledged
                    </td>
                    @{
                        foreach (var item in Model.ClassIAcknowledgedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">

                    <td class="sCell">
                        Conditional
                    </td>
                    @{
                        foreach (var item in Model.ClassIConditionalList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">

                    <td class="sCell">
                        Refused
                    </td>
                    @{
                        foreach (var item in Model.ClassIRefusedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        Audit
                    </td>
                    @{
                        foreach (var item in Model.ClassIAuditList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>

                <tr class="sRow1">

                    <td class="sCell" rowspan="4" rowSPAN=6 style="background-color:#DCE6F2;">
                        MW
                        <br />
                        Class II
                    </td>

                    <td class="sCell">
                        Acknowledged
                    </td>
                    @{
                        foreach (var item in Model.ClassIIAcknowledgedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow1">

                    <td class="sCell">
                        Conditional
                    </td>
                    @{
                        foreach (var item in Model.ClassIIConditionalList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow1">

                    <td class="sCell">
                        Refused
                    </td>
                    @{
                        foreach (var item in Model.ClassIIRefusedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow1">

                    <td class="sCell">
                        Audit
                    </td>
                    @{
                        foreach (var item in Model.ClassIIAuditList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>

                <tr class="sRow2">
                    <td class="sCell" rowspan="4" rowSPAN=6 style="background-color:#DCE6F2;">
                        MW
                        <br />
                        Class III
                    </td>
                    <td class="sCell">
                        Acknowledged
                    </td>
                    @{
                        foreach (var item in Model.ClassIIIAcknowledgedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">
                    <td class="sCell">
                        Conditional
                    </td>
                    @{
                        foreach (var item in Model.ClassIIIConditionalList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">

                    <td class="sCell">
                        Refused
                    </td>
                    @{
                        foreach (var item in Model.ClassIIIRefusedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>
                <tr class="sRow2">

                    <td class="sCell">
                        Audit
                    </td>
                    @{
                        foreach (var item in Model.ClassIIIAuditList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>

                @*<tr class="sRow1">
                        <td class="sCell" colspan="2" rowSPAN=1 style="background-color:#DCE6F2;">
                            Government Contractor
                        </td>
                        @{
                            foreach (var item in Model.GcList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>*@
                @*<tr class="sRow1">
                        <td class="sCell" rowspan="10">
                            S24 Order
                        </td>
                        <td style="background-color:#FFF" class="sCell"><b>Total</b></td>
                        @{
                            foreach (var item in Model.S24List)
                            {
                                <td style="background-color:#FFF" class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>


                    <tr class="sRow1">
                        <td class="sCell">
                            Not Yet Issued
                        </td>
                        @{
                            foreach (var item in Model.S24NotYetIssList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow2">
                        <td class="sCell">
                            Not Yet Expired
                        </td>
                        @{
                            foreach (var item in Model.S24NotYetExpList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow1">
                        <td class="sCell">
                            Appeal Lodged
                        </td>
                        @{
                            foreach (var item in Model.S24AppealLodgedList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow2">
                        <td class="sCell">
                            Prosecution To Be Initiated
                        </td>
                        @{
                            foreach (var item in Model.S24ProsecutionToBeList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow1">
                        <td class="sCell">
                            Prosecution initiated
                        </td>
                        @{
                            foreach (var item in Model.S24ProList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow2">
                        <td class="sCell">
                            Pending For Compliance
                        </td>
                        @{
                            foreach (var item in Model.S24PendingList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>

                    <tr class="sRow1">
                        <td class="sCell">
                            GC Action
                        </td>
                        @{
                            foreach (var item in Model.S24GcaList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow2">
                        <td class="sCell">
                            Complied with
                        </td>
                        @{
                            foreach (var item in Model.S24ComList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>
                    <tr class="sRow1">
                        <td class="sCell">
                            Withdrawn
                        </td>
                        @{
                            foreach (var item in Model.S24WithdrawnList)
                            {
                                <td class="sCell">@item&nbsp;</td>
                            }
                        }
                    </tr>*@
                @*<tr class="sRow1">
                    <td class="sCell" rowspan="3" style="background-color:#DCE6F2;">
                        Report To SCU
                    </td>
                    <td class="sCell"><b>Total</b></td>
                    @{
                        foreach (var item in Model.ReportToScuList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>



                <tr class="sRow1">
                    <td class="sCell">
                        Received
                    </td>
                    @{
                        foreach (var item in Model.ReportToScuReceivedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>



                <tr class="sRow1">
                    <td class="sCell">
                        Closed
                    </td>
                    @{
                        foreach (var item in Model.ReportToScuCloseList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>


                <tr class="sRow2">
                    <td class="sCell" rowspan="3" rowSPAN=3 style="background-color:#DCE6F2;">
                        Enquiry To SCU
                    </td>
                    <td class="sCell"><b>Total</b></td>
                    @{
                        foreach (var item in Model.EnquiryToScuList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>



                <tr class="sRow2">
                    <td class="sCell">
                        Received
                    </td>
                    @{
                        foreach (var item in Model.EnquiryToScuReceivedList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>



                <tr class="sRow2">
                    <td class="sCell">
                        Closed
                    </td>
                    @{
                        foreach (var item in Model.EnquiryToScuCloseList)
                        {
                            <td class="sCell">@item&nbsp;</td>
                        }
                    }
                </tr>*@
            </tbody>
        </table>
        <div class="w3-container footer">
            <button onclick="Export()" class="exportButton btn btn-default" type="button"><i class="fa fa-print"></i>Export</button>
            <button onclick="backhome()" class="CancelButton btn btn-default" type="button"><i class="fa fa-times"></i> Cancel</button>
        </div>
    </div>
}
    <script>
        function backhome() {
            goTo("Index");
        }
        function Export() {
            thisForm = document.getElementById("taskForm");
            thisForm.submit();
        }
    </script>