@model MWMS2.Dao.WL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGISTRATION_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGISTRATION_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MW_SUBMISSION_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MW_SUBMISSION_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MW_ITEMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MW_ITEMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMP_CONTRACTOR_NAME_ENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMP_CONTRACTOR_NAME_ENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMP_CONTRACTOR_NAME_CHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMP_CONTRACTOR_NAME_CHI)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SECTION_UNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECTION_UNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILE_REF_FOUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILE_REF_FOUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FILE_REF_TWO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FILE_REF_TWO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WL_ISSUED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WL_ISSUED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CASE_OFFICER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CASE_OFFICER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RELATED_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RELATED_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOURCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOURCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LETTER_ISSUE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LETTER_ISSUE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LETTER_FILE_PATH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LETTER_FILE_PATH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORIZED_SIGNATURE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORIZED_SIGNATURE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFIED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFIED_BY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UUID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
