@model MWMS2.Areas.Registration.Models.Fn06AS_DBSearchModel

@if (MWMS2.Utility.AuthUtil.CanList)
{

    <div class="panelHeader">Search Criteria</div>
    <div id="searchCriteria">
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Registration No.:</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.FileRef)
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">HKID:</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.HKID)
                </div>
            </div>
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Passport No.:</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.PassportNo)
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Surname :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.SurName)
                </div>
            </div>
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Given Name :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.GivenName)
                </div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Chinese Name :</div>
                <div class="w3-col l6 m12 s12">
                    @Html.TextBoxFor(model => model.ChiName)
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l6 m12 s12">
                <div class="w3-col l6 m12 s12">Status:</div>
                <div class="w3-col l6 m12 s12">
                    @Html.DropDownListFor(model => model.Status, Model.StatusList)
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Category:<span class="w3-hide-medium w3-hide-small"><br /><br /><br /><br /><br /><br><br><br><br>&nbsp;</span></div>
                <div class="w3-col l9 m12 s12">
                    <input id="displayCatALL" class="inputCheckbox" type="checkbox" name="displayCatALL"
                           value="All" onclick="onClickCategoryChkbox(this)" />
                    <label for="displayCatALL">-Check All-</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_GBC, new { @id = "displayCatGBC" })
                    <label for="displayCatGBC">GBC</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_SC_D, new { @id = "displayCatSC_D" })
                    <label for="displayCatSC_D">SC(D)</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_SC_F, new { @id = "displayCatSC_F" })
                    <label for="displayCatSC_F">SC(F)</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_SC_GI, new { @id = "displayCatSC_GI" })
                    <label for="displayCatSC_GI">SC(GI)</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_SC_SF, new { @id = "displayCatSC_SF" })
                    <label for="displayCatSC_SF">SC(SF)</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_SC_V, new { @id = "displayCatSC_V" })
                    <label for="displayCatSC_V">SC(V)</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_MWC_CLASS_I_II_III, new { @id = "displayCatMWC_CLASS_I_II_III" })
                    <label for="displayCatMWC_CLASS_I_II_III">MWC - Class I, II, III</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_MWC_CLASS_II_III, new { @id = "displayCatMWC_CLASS_II_III" })
                    <label for="displayCatMWC_CLASS_II_III">MWC - Class II, III</label>
                    <br />
                    @Html.CheckBoxFor(model => model.CAT_MWC_CLASS_III, new { @id = "displayCatMWC_CLASS_III" })
                    <label for="displayCatMWC_CLASS_III">MWC - Class III</label>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Consent:<span class="w3-hide-medium w3-hide-small"><br /><br />&nbsp;</span></div>
                <div class="w3-col l4 m12 s12">
                    @Html.CheckBoxFor(model => model.ConsetToPublish, new { @id = "cbConsetToPublish" })
                    <label for="cbConsetToPublish">Consent to publish</label>
                    <br />
                    @Html.CheckBoxFor(model => model.RefusedToPublish, new { @id = "cbRefusedToPublish" })
                    <label for="cbRefusedToPublish">Refused to publish</label>
                    <br />
                    @Html.CheckBoxFor(model => model.NotIndicated, new { @id = "cbNotIndicated" })
                    <label for="cbNotIndicated">Not indicated</label>
                </div>
            </div>
        </div>
        <div class="w3-container footer">
            <button class="searchButton btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
            <button class="resetButton btn btn-default" type="button"><i class="fa fa-eraser"></i> Clear</button>
        </div>
    </div>
    <div id="resultPanel"></div>

    if (MWMS2.Utility.AuthUtil.CanViewDetails)
    {
        <script type="text/javascript">function ViewDetail(row) { goTo("Form", [{ name: "APPUUID", value: row.UUID }, { name: "Status", value: row.STATUS }]); }</script>
    }
    else
    {
        <script type="text/javascript">function ViewDetail(row) { }</script>
    }

    <script type="text/javascript">
        domReady(function () {
            new searcher({
                searchPath: "Search"
                , exportPath: "ExcelListOfAS"
                , searchTable: "searchCriteria"
                , resultPanel: "resultPanel"
                , Columns: [
                    {
                        displayName: "HKID/PASSPORT", columnName: "ID"
                        , click: function (row) {
                            try {
                                if (row == null) return;
                                ViewDetail(row);
                            } catch (err) { }
                        }
                    }
                    , { displayName: "English Name", columnName: "ENGNAME" }
                    , { displayName: "Chinese Name", columnName: "CHINAME" }
                    , { displayName: "Consent", columnName: "CONSENT" }
                    , { displayName: "Status", columnName: "STATUS" }
                ]
            });
        });
        function onClickCategoryChkbox(chkbox) {
            if (chkbox != '') {
                var isChecked = chkbox.checked;
                var isCheck = false;
                if (isChecked == true) {
                    isCheck = true;
                } else {
                    isCheck = false;
                }

                // check/uncheck related category
                document.getElementById('displayCatGBC').checked = isCheck;
                document.getElementById('displayCatSC_D').checked = isCheck;
                document.getElementById('displayCatSC_F').checked = isCheck;
                document.getElementById('displayCatSC_GI').checked = isCheck;
                document.getElementById('displayCatSC_SF').checked = isCheck;
                document.getElementById('displayCatSC_V').checked = isCheck;
                document.getElementById('displayCatMWC_CLASS_I_II_III').checked = isCheck;
                document.getElementById('displayCatMWC_CLASS_II_III').checked = isCheck;
                document.getElementById('displayCatMWC_CLASS_III').checked = isCheck;
            }
        }
    </script>
}
else
{
    <b>Access denied, please contact your supervisor.</b>
}