@model MWMS2.Models.InterviewResultSearchModel

<div class="panelHeader">Search Criteria</div>
<div id="searchCriteria">
    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Year :</div>
            <div class="w3-col l6 m12 s12">
                @Html.DropDownListFor(model => model.Year, Model.yearList)
            </div>
        </div>
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12"> Date :</div>
            <div class="w3-col l6 m12 s12">
                From &nbsp; @Html.TextBoxFor(model => model.DateFrom, new { @class = "inputDate" })
                To &nbsp; @Html.TextBoxFor(model => model.DateTo, new { @class = "inputDate" })
            </div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Group :</div>
            <div class="w3-col l6 m12 s12">
                @Html.DropDownListFor(model => model.Group, Model.showGroupList)
            </div>
        </div>
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Type :</div>
            <div class="w3-col l6 m12 s12">
                @Html.DropDownListFor(model => model.Type, Model.showTypeList)
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Surname. :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.SurnName)
            </div>
        </div>
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Given Name. :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.GivenName)
            </div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">File Reference :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.FileRef)
            </div>
        </div>
    </div>

    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Interview / Assessment  No. :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.InterviewNo)
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">HKID : :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.HKID)
            </div>
        </div>
        <div class="w3-col l6 m12 s12">
            <div class="w3-col l6 m12 s12">Passport No. :</div>
            <div class="w3-col l6 m12 s12">
                @Html.TextBoxFor(model => model.PassportNo)
            </div>
        </div>
    </div>




    <div class="w3-container footer">
        <button class="searchButton btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
    </div>

</div>
<div id="resultPanel"></div>

@*<script type="text/javascript">
        domReady(function () {
            new searcher({
                searchPath: "Search"
                , exportPath: "Excel"
                , searchTable: "searchCriteria"
                , resultPanel: "resultPanel"
            });
        });
    </script>*@

<script type="text/javascript">
    domReady(function () {
        new searcher({
            searchPath: "Search"
            , exportPath: "Excel"
            , searchTable: "searchCriteria"
            , resultPanel: "resultPanel"
            , Sort: "INTERVIEW_DATE"
            , Columns: [
                {
                    displayName: "Interview Date", columnName: "INTERVIEW_DATE_DISPLAY"
                    , click: function (row) {
                        try { if (row == null) return; alert("Clicked XX  : " + row.INTERVIEW_DATE); alert("Clicked UUID  : " + row.UUID); } catch (err) { }
                    }
                }
                , { displayName: "Interview/Assessment No", columnName: "INTERVIEW_NUMBER" }
                , { displayName: "Type", columnName: "INTERVIEW_TYPE" }
                , { displayName: "Name", columnName: "FULL_NAME" }
                , { displayName: "Role", columnName: "ROLE" }
                , { displayName: "Result Date", columnName: "RESULT_DATE" }
                , { displayName: "Result", columnName: "RESULT" }
                , { displayName: "Absent", columnName: "IS_ABSENT" }

            ]
        });
    });
</script>

