@model MWMS2.Areas.MWProcessing.Models.Fn01LM_StatisticsModel


<div id="PartialOutgoing">
    <div id="outputOperationPanel" class="displayForm">
        <div class="w3-row w3-container">
            @Html.Label(Model.DisplayMonth) @Html.Label(Model.Year)
            @Html.DropDownList(Model.Month, new SelectList(Model.MonthList, "Value", "Text", Model.Month), new { @name = "selectMonth", @size = "1", @style = "max-width: 200px;", @id = "monthOutgoingDropDownList" })
            @Html.DropDownList(Model.Year, new SelectList(Model.YearList, "Value", "Text", Model.Year), new { @name = "selectYear", @size = "1", @style = "max-width: 200px;", @id = "yearOutgoingDropDownList" })
            <button class="searchButton btn btn-default" onclick="OutgoingGo()">Go</button>
            <button class="searchButton btn btn-default" onclick="OutgoingPreviousNextMonth('P')"> &lt; Previous Month</button>
            <button class="searchButton btn btn-default" onclick="OutgoingPreviousNextMonth('N')">Next Month &gt;</button>
            <button class="searchButton btn btn-default" onclick="OutgoingPreviousNextMonth('T')">Today</button>
        </div>
    </div>
    <div id="outputDataPanel" class="displayForm">
        <div class="w3-row">
            <div class="w3-col w3-container" style="width:12.5%">Monday</div>
            <div class="w3-col w3-container" style="width:12.5%">Tuesday</div>
            <div class="w3-col w3-container" style="width:12.5%">Wednesday</div>
            <div class="w3-col w3-container" style="width:12.5%">Thursday</div>
            <div class="w3-col w3-container" style="width:12.5%">Friday</div>
            <div class="w3-col w3-container" style="width:12.5%">Saturday</div>
            <div class="w3-col w3-container" style="width:12.5%">Sunday</div>
            <div class="w3-col w3-container" style="width:12.5%">Weekend</div>
        </div>
        @for (int i = 0; i < Model.OutgoingModel.Count; i++)
        {
            <div class="w3-row">
                @if (i == 0)
                {
                    for (int j = 0; j < Model.OutgoingModel[i].OutgoingModelList[0].WEEK_DAY - 1; j++)
                    {
                        <div class="w3-col w3-container" style="width:12.5%;">
                            <div class="day-numbe data calendar-visibility-hidden">
                                1
                            </div>
                            <table class="calendar-table calendar-visibility-hidden" cellpadding="0" cellspacing="0" border="1">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Letter Issud</td>
                                    </tr>
                                    <tr>
                                        <td>PC</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>KT</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>WKGO</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>ES</td>
                                        <td>0</td>
                                    </tr>
                                    <tr style="background: #ffffff;">
                                        <td>TTL</td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="exportData(1, 'T',0)">0</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>D-Le</td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="exportData(1, 'D',0)">0</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ORe</td>
                                        <td>
                                            <a href="javascript:void(0)" onclick="exportData(1, 'O',0)">0 (referred)</a>
                                        </td>
                                    </tr>
                                    <tr><td>ICU</td><td colspan="3">0 (received)</td></tr>
                                    <tr><td>CR:</td><td colspan="3">0 (rejected)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    }
                }

                @for (int z = 0; z < Model.OutgoingModel[i].OutgoingModelList.Count; z++)
                {
                    if (Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString() == Model.CurrentTime.ToString())
                    {
                        <div class="w3-col w3-container" style="width:12.5%;background-color:#FFF0AC;">
                            <div class="day-numbe data">
                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].DAY.ToString())
                            </div>
                            <table class="calendar-table" cellpadding="0" cellspacing="0" border="1">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Letter Issud</td>
                                    </tr>
                                    <tr>
                                        <td>PC</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].PC_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>KT</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].KT_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>WKGO</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].WKGO_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ES</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].ES_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr style="background: #ffffff;">
                                        <td>TTL</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','T')">
                                                @Html.Label((Model.OutgoingModel[i].OutgoingModelList[z].PC_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].KT_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].ES_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].WKGO_COUNTER).ToString() )
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>D-Le</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','D')">
                                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].D_LET.ToString())
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ORe</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','O')">
                                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].O_REL.ToString()) (referred)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ICU</td>
                                        <td colspan="4">
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].ICU.ToString()) (received)
                                        </td>
                                    </tr>
                                    <tr><td>CR:</td><td colspan="4">@Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].CR.ToString()) (rejected)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="w3-col w3-container" style="width:12.5%;">
                            <div class="day-numbe data">
                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].DAY.ToString())
                            </div>
                            <table class="calendar-table" cellpadding="0" cellspacing="0" border="1">
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>Letter Issud</td>
                                    </tr>
                                    <tr>
                                        <td>PC</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].PC_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>KT</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].KT_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>WKGO</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].WKGO_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ES</td>
                                        <td>
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].ES_COUNTER.ToString())
                                        </td>
                                    </tr>
                                    <tr style="background: #ffffff;">
                                        <td>TTL</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','T')">
                                                @Html.Label((Model.OutgoingModel[i].OutgoingModelList[z].PC_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].KT_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].ES_COUNTER + Model.OutgoingModel[i].OutgoingModelList[z].WKGO_COUNTER).ToString())
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>D-Le</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','D')">
                                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].D_LET.ToString())
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ORe</td>
                                        <td>
                                            <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingModel[i].OutgoingModelList[z].DATERANGE.ToString()','Outgoing','O')">
                                                @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].O_REL.ToString()) (referred)
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ICU</td>
                                        <td colspan="4">
                                            @Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].ICU.ToString()) (received)
                                        </td>
                                    </tr>
                                    <tr><td>CR:</td><td colspan="4">@Html.Label(Model.OutgoingModel[i].OutgoingModelList[z].CR.ToString()) (rejected)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    }

                }
                @if (Model.OutgoingModel[i].OutgoingModelList[Model.OutgoingModel[i].OutgoingModelList.Count - 1].WEEK_DAY != 7)
                    {
                        for (int x = Model.OutgoingModel[i].OutgoingModelList[Model.OutgoingModel[i].OutgoingModelList.Count - 1].WEEK_DAY; x < 7; x++)
                        {
                            <div class="w3-col w3-container" style="width:12.5%;">
                                <div class="day-numbe data calendar-visibility-hidden">
                                    1
                                </div>
                                <table class="calendar-table calendar-visibility-hidden" cellpadding="0" cellspacing="0" border="1">
                                    <tbody>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>Letter Issud</td>
                                        </tr>
                                        <tr>
                                            <td>PC</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>KT</td>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <td>WKGO</td>
                                            <td>
                                                0
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ES</td>
                                            <td>0</td>
                                        </tr>
                                        <tr style="background: #ffffff;">
                                            <td>TTL</td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="exportData(1, 'T',0)">0</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>D-Le</td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="exportData(1, 'D',0)">0</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>ORe</td>
                                            <td>
                                                <a href="javascript:void(0)" onclick="exportData(1, 'O',0)">0 (referred)</a>
                                            </td>
                                        </tr>
                                        <tr><td>ICU</td><td colspan="3">0 (received)</td></tr>
                                        <tr><td>CR:</td><td colspan="3">0 (rejected)</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                <div class="w3-col w3-container " style="width:12.5%;">
                    <div class="day-numbe data ">
                        Weekly Summary
                    </div>
                    <table class="calendar-table" cellpadding="0" cellspacing="0" border="1">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>Letter Issud</td>
                            </tr>
                            <tr>
                                <td>PC</td>
                                <td>
                                    @Html.Label(Model.OutgoingWeeklySummaryModel[i].PC_COUNTER.ToString())
                                </td>
                            </tr>
                            <tr>
                                <td>KT</td>
                                <td>
                                    @Html.Label(Model.OutgoingWeeklySummaryModel[i].KT_COUNTER.ToString())
                                </td>
                            </tr>
                            <tr>
                                <td>WKGO</td>
                                <td>
                                    @Html.Label(Model.OutgoingWeeklySummaryModel[i].WKGO_COUNTER.ToString())
                                </td>
                            </tr>
                            <tr>
                                <td>ES</td>
                                <td>
                                    @Html.Label(Model.OutgoingWeeklySummaryModel[i].ES_COUNTER.ToString())
                                </td>
                            </tr>
                            <tr style="background: #ffffff;">
                                <td>TTL</td>
                                <td>
                                    <a class="export_button_a" href="javascript:void(0)" onclick="Export('@Model.OutgoingWeeklySummaryModel[i].WeeklySummaryDateRange','Outgoing','T')">
                                        @Html.Label((Model.OutgoingWeeklySummaryModel[i].PC_COUNTER + Model.OutgoingWeeklySummaryModel[i].KT_COUNTER + Model.OutgoingWeeklySummaryModel[i].ES_COUNTER + Model.OutgoingWeeklySummaryModel[i].WKGO_COUNTER).ToString())
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>D-Le</td>
                                <td>
                                    <a href="javascript:void(0)" onclick="exportData(1, 'D',0)">
                                        @Html.Label(Model.OutgoingWeeklySummaryModel[i].D_LET.ToString())
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>ORe</td>
                                <td>
                                    <a href="javascript:void(0)" onclick="exportData(1, 'O',0)">
                                        @Html.Label(Model.OutgoingWeeklySummaryModel[i].O_REL.ToString()) (referred)
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>ICU</td>
                                <td colspan="3">
                                    @Html.Label(Model.OutgoingWeeklySummaryModel[i].ICU.ToString()) (received)
                                </td>
                            </tr>
                            <tr><td>CR:</td><td colspan="3">@Html.Label(Model.OutgoingWeeklySummaryModel[i].CR.ToString()) (rejected)</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
    <div id="outputResultPanel" class="displayForm">
        <div class="w3-row">
            <table class="w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th class="w3-center">Form Type Received Nature IN ('SUBMISSION','E-SUBMISSION','DIRECT RETURN','REVISED CASE','WITHDRAWAL')</th>
                        <th class="w3-center">No. of Submission</th>
                        <th class="w3-center">No. of Audit Selected</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < @Model.TypeReceivedTableModel.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.Label(Model.TypeReceivedTableModel[i].FORM_NO)
                            </td>
                            <td>
                                @Html.Label(Model.TypeReceivedTableModel[i].TOTAL_COUNT.ToString())
                            </td>
                            <td>
                                @Html.Label(Model.TypeReceivedTableModel[i].AUDIT_COUNT.ToString())
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="w3-row">
            <div class="w3-col" style="width:75%">
                <div class="w3-container data">
                    Total Selected / Total Submission
                </div>
            </div>
            <div class="w3-col" style="width:25%">
                <div class="w3-container data">
                    @Html.Label(Model.TotalCountOfAuditSelected.ToString()) /
                    <a href="javascript:void(0)" onclick="exportDataByDatePeriod('', 'T',0, '', 'Y')">@Html.Label(Model.TotalCountOfSubmission.ToString())</a>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col" style="width:75%">
                <div class="w3-container data">
                    Percentage
                </div>
            </div>
            <div class="w3-col" style="width:25%">
                <div class="w3-container data">
                    @Html.Label(Model.PercentageOfSubmissionSelected, @String.Format("{0:N0}", Model.PercentageOfSubmissionSelected))%
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col" style="width:100%">
                <div class="w3-container data">
                    Accumulated Total No. of MW Submission
                    (MW01, MW02, MW03, MW04, MW05, MW06,MW06-1,MW06-2,MW06-3, MW11 &amp; MW12)
                    selected for audit in year <b>@Html.Label(Model.Year)</b> (as at @Html.Label(Model.CurrentTime.ToShortDateString())) : <b>@Html.Label(Model.AccumulatedTotalSubmission.ToString()) </b>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OutgoingGo() {
        var month = document.getElementById("monthOutgoingDropDownList").value;
        var year = document.getElementById("yearOutgoingDropDownList").value;

        $.ajax({
            url: "StatisticsOutgoing"
            , type: "POST"
            , data: {
                  Month: month
                , Year: year
                , View:'Outgoing'
            }
            , beforeSend: function () {
                attr("PartialOutgoing", "html", "Loading...")
            }
            , success: function (data) {
                $("#PartialOutgoing").html(data);
            }
        })
    }

    function OutgoingPreviousNextMonth(type) {

        $.ajax({
            url: type == 'P' ? "PreviousMonth" : type == 'N' ? "NextMonth" : "StatisticsOutgoing"
            , type: "POST"
            , data: type == 'T' ? {
                View:"Outgoing"
            } : {
                Month: '@Model.Month'
                , Year: '@Model.Year'
                , View:'Outgoing'
            }
            , beforeSend: function () {
                attr("PartialOutgoing", "html", "Loading...")
            }
            , success: function (data) {
                $("#PartialOutgoing").html(data);
            }
        })
    }

</script>