<!-- InstanceBeginEditable name="content" -->

@model IEnumerable<MWMS2.Entity.B_S_SYSTEM_VALUE>
<h3>Validation Option</h3>
<br>

<div class="btnSet btnSetTypeA">
    <div class="right">
        @*<input class="inputButton" id="" name="" value="Add" style="width: 100px;" onclick='location.href="@Url.Action("SMMValidationOptionCreate", "SMMValidationOption")"' type="button">*@
        <button class="btn btn-default" id="" name="" value="Add" onclick='location.href="@Url.Action("SMMValidationOptionCreate", "SMMValidationOption")"' type="button"><i class="far fa-plus-square"></i> Add</button>
    </div>
</div>
<br>

<div class="sList">
    <table class="resultTable">
        <thead>
            <tr class="grid-header" style="height: 19px;">
                <th class="sTh" style="text-align: left; padding-left: 8px;">Code</th>
                <th class="sTh" style="text-align: left; padding-left: 8px;">Description</th>
                <th class="sTh" style="text-align: left; padding-left: 8px;">Ordering</th>
                <th class="sTh" style="text-align: left; padding-left: 8px;">Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.CODE, "SMMValidationOptionEdit", "SMMValidationOption", new { id = item.UUID }, null)
                            @*@Html.DisplayFor(modelItem => item.REGISTRATION_NO)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DESCRIPTION)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.ORDERING)*@
                            @((int)item.ORDERING)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<br>

