@model MWMS2.Entity.B_S_SYSTEM_VALUE
<h3>
    Validation Option
</h3>


@*<div style="text-align: right; width: 100%;">
        Last Modified Date:
        @Html.DisplayFor(model => model.MODIFIED_DATE)
    </div>
    <div style="text-align: right; width: 100%;">
        Last Modified By:
        @Html.DisplayFor(model => model.MODIFIED_BY)
    </div>*@

<br>

@using (Html.BeginForm("SMMValidationOptionEdit", "SMMValidationOption", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UUID)


    <div class="sList w3-border displayForm">
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Code :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", @readonly = "readonly", id = "Code" } })
                    @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Description :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", id = "systemValueDescription" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Ordering :</div>
                <div class="w3-col l9 m9 s9">
                    @*@Html.EditorFor(model => model.ORDERING, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", id = "systemValueOrdering", @type = "number", @min = "0" } })*@
                    <input class="form-control text-box single-line" data-val="true" data-val-number="The field ORDERING must be a number." id="systemValueOrdering" min="0" name="ORDERING" style="max-width:600px" type="number" value="@((int)Model.ORDERING)">
                    @Html.ValidationMessageFor(model => model.ORDERING, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Active :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.RadioButtonFor(model => model.IS_ACTIVE, "Y", new { id = "systemValueActive", @class = "inputRadio" }) Active
                    @Html.RadioButtonFor(model => model.IS_ACTIVE, "N", new { id = "systemValueActive", @class = "inputRadio", style = "margin-left: 10px;" }) Inactive
                </div>

            </div>
        </div>

        <div class="w3-container footer">
            @*<input class="btn btn-default" type="submit" id="submit" value="Submit" />*@
            <button class="btn btn-default" type="submit" id="submit" value="Submit"><i class="fa fa-save"></i> Save</button>
            @*<input class="btn btn-default inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("Index","SMMValidationOption")"' type="button">*@
            <button class="btn btn-default inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("Index","SMMValidationOption")"' type="button"><i class="fa fa-times"></i> Cancel</button>
        </div>

    </div>

    <div style="display:none">
        @Html.EditorForModel()
    </div>
}

<br>

