@model MWMS2.Entity.B_S_SYSTEM_VALUE

@section scripts {
    <script type="text/javascript">


            function DeleteValidationItem()
            {

                if (confirm("Are you sure to delete this item"))
                {
                     location.href = "@Url.Action("SPMValidationItemDelete", new {id = Model.UUID})";
                }
            }


    </script>
}

<h3>District Maintenance</h3>
@*<div style="text-align: right; width: 100%;">
    Last Modified Date:
    <span id="MODIFIED_DATE">
        @ViewBag.MODIFIED_DATE
    </span>
</div>
<div style="text-align: right; width: 100%;">
    Last Modified By:
    <span id="MODIFIED_BY">
        @Html.DisplayFor(model => model.MODIFIED_BY)
    </span>
</div>*@

@using (Html.BeginForm("SPMDistrictMaintenanceEdit", "SPMDistrictMaintenance", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="sList w3-border displayForm">
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Validation Item<span class="asterix">*</span>:</div>
                <div class="w3-col l9 m9 s9">
                    @Html.TextBoxFor(model => model.CODE, new { @readonly = "readonly", id = "", style = "max-width:600px;" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">District Name :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", id = "Subject" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Region :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.DropDownListFor(model => model.PARENT_ID, (IEnumerable<SelectListItem>)ViewBag.RegionList, new { style = "width:auto", id = "RegionList", name = "RegionList" })
                </div>
            </div>
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m3 s3">Ordering :</div>
                <div class="w3-col l9 m9 s9">
                    @Html.EditorFor(model => model.ORDERING, new { htmlAttributes = new { @class = "form-control", style = "max-width:auto", id = "ORDERING", @type = "number", @min = "0" } })
                    @Html.ValidationMessageFor(model => model.ORDERING, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            @*<input class="btn btn-default inputButton" id="delete" name="" value="Delete" onclick="javascript:DeleteValidationItem()" type="button">*@
            <button class="btn btn-default" id="delete" name="" value="Delete" onclick="javascript:DeleteValidationItem()" type="button"><i class="fa fa-trash"></i> Delete</button>
            @*<input type="submit" class="btn btn-default SaveBtn" id="Save" value="Save" />*@
            <button type="submit" class="btn btn-default SaveBtn" id="Save" value="Save"><i class="fa fa-save"></i> Save</button>
            @*<input class="btn btn-default inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("SPMDistrictMaintenance", "SPMDistrictMaintenance")"' type="button">*@
            <button class="btn btn-default" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("SPMDistrictMaintenance", "SPMDistrictMaintenance")"' type="button"><i class="fa fa-times"></i> Cancel</button>
        </div>

    </div>

    <div style="display:none">
        @Html.EditorForModel()
    </div>
}
