@using MWMS2.Constant
@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_DeFormModel

<div class="displayForm">
    <form id="inputForm" method="post">
        @{
            for (int i = Model.P_MW_APPOINTED_PROFESSIONALs.Count(); i <= 0; i++)
            {
                Model.P_MW_APPOINTED_PROFESSIONALs.Add(new MWMS2.Entity.P_MW_APPOINTED_PROFESSIONAL());
                Model.P_MW_APPOINTED_PROFESSIONALs[i].ORDERING = i;
            }

            //0
            Model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART = ProcessingConstant.PART_B;
            Model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG = ProcessingConstant.PRC;
        }

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART)

        <div class="w3-border displayForm">


            @*Header Information*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formHeaderInformation.cshtml")


            <div class="panelHeader">Part A Preliminary information of the erection or alteration works of signboard</div>
            <div class="panelHeader">1. Location or address of the proposed minor works</div>
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formMWAddress_new.cshtml")

            <div class="panelHeader">
                <label>
                    2. Details of the proposed works to be carried out
                </label>
                <button id="addMWItemCLASS_IIIBtn" type="button" onclick="addMWItem('CLASS_III')" style="float:right;height:30px">Add</button>
            </div>
            <table id="RiTableCLASS_III" class=" w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th>Minor work Item</th>
                        <th>Description</th>
                        <th>Order / Direction /Notice /BD Reference No.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.P_MW_RECORD_ITEMs_CLASS_III.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].UUID)
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].CLASS_CODE)
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].MW_ITEM_CODE)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].LOCATION_DESCRIPTION)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].RELEVANT_REFERENCE)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Commencement Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].COMMENCED_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Sigature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].COMPLETION_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">No. of Signboard to be erected</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(m=>Model.P_MW_FORM.FORM32_A_NO_SIGNBOARD)
                    </div>
                </div>
            </div>

            <div class="panelHeader">
                <label>
                    3. Particulars of the person who arranged for the minor works to be carried out
                </label>
            </div>
            @*TBC*@
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        <input type="text" />
                    </div>
                </div>
            </div>
            @*TBC*@
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        <input type="text" />
                    </div>
                </div>
            </div>

            <div class="panelHeader">
                <label>
                    4. The person for whom the signboard is to be erected
                </label>
            </div>
            @*TBC*@
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        <input type="text" />
                    </div>
                </div>
            </div>
            @*TBC*@
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        <input type="text" />
                    </div>
                </div>
            </div>


            @*Part B*@
            <div class="panelHeader">
                <label>
                    Part B Request of the prescribed registered contractor
                </label>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">As Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">As English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Fax No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FAX_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Contract No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CONTACT_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Will to receive SMS</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IS_RECEIVE_SMS)
                    </div>
                </div>
            </div>

            @*Form Button*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formButton.cshtml")
        </div>
    </form>
</div>
<div id="resultPanel"></div>


<script type="text/javascript">

</script>