@using MWMS2.Constant
@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_DeFormModel

<div class="displayForm">
    <form id="inputForm" method="post">
        @{
            for (int i = Model.P_MW_APPOINTED_PROFESSIONALs.Count(); i <= 0; i++)
            {
                Model.P_MW_APPOINTED_PROFESSIONALs.Add(new MWMS2.Entity.P_MW_APPOINTED_PROFESSIONAL());
                Model.P_MW_APPOINTED_PROFESSIONALs[i].ORDERING = i;
            }

            //0
            Model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART = ProcessingConstant.PART_A;
            Model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG = ProcessingConstant.OTHER;
        }

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART)

        <div class="w3-border displayForm">


            @*Header Information*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formHeaderInformation.cshtml")

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_1)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Photos showing the physical condition of the premises where the works are to be carried out
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_2)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Photographs showing all works as completed
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_3)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Revised prescribed plans and details
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_4)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Structural calculations
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_5)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Structural appraisal report
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_6)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Geotechnical appraisal report
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_7)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Demolition proposal
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_8)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Temporary safety measures or support
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_9)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Material invoice, test certificate / report
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_10)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Catalogue
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_11)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Supervision plan
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_DEC_12)
                    </div>
                    <div class="w3-col l8 m6 s12">
                        Others
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                    </div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_AP)
                        Authorized Person
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_RSE)
                        Registered Structural Engineer
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_RGE)
                        Registered Geotechnical Enginee
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM33_PRC)
                        Prescribed Registered Contractor
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">As Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">As English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Fax No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FAX_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Contract No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CONTACT_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Will to receive SMS</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IS_RECEIVE_SMS)
                    </div>
                </div>
            </div>

            @*Form Button*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formButton.cshtml")
        </div>
    </form>
</div>
<div id="resultPanel"></div>


<script type="text/javascript">

</script>