@using MWMS2.Constant
@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_DeFormModel

<div class="displayForm">
    <form id="inputForm" method="post">

        @{
            for (int i = Model.P_MW_APPOINTED_PROFESSIONALs.Count(); i <= 3; i++)
            {
                Model.P_MW_APPOINTED_PROFESSIONALs.Add(new MWMS2.Entity.P_MW_APPOINTED_PROFESSIONAL());
                Model.P_MW_APPOINTED_PROFESSIONALs[i].ORDERING = i;
            }

            //0
            Model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART = ProcessingConstant.PART_A;
            Model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG = ProcessingConstant.AP;

            //1
            Model.P_MW_APPOINTED_PROFESSIONALs[1].FORM_PART = ProcessingConstant.PART_A;
            Model.P_MW_APPOINTED_PROFESSIONALs[1].IDENTIFY_FLAG = ProcessingConstant.PRC;

            //2
            Model.P_MW_APPOINTED_PROFESSIONALs[2].FORM_PART = ProcessingConstant.PART_B;
            Model.P_MW_APPOINTED_PROFESSIONALs[2].IDENTIFY_FLAG = ProcessingConstant.AP;

            //3
            Model.P_MW_APPOINTED_PROFESSIONALs[3].FORM_PART = ProcessingConstant.PART_C;
            Model.P_MW_APPOINTED_PROFESSIONALs[3].IDENTIFY_FLAG = ProcessingConstant.PRC;
        }

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART)

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].FORM_PART)

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].FORM_PART)

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].FORM_PART)

        <div class="w3-border displayForm">


            @*Header Information*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formHeaderInformation.cshtml")


            <div class="panelHeader">Part A Notice of appointment of appointed person</div>
            <div class="panelHeader">1.Location or address of the prescribed building or building works</div>
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formMWAddress_new.cshtml")

            <div class="panelHeader">
                <label>
                    2.Details of the prescribed building or building works
                </label>
                <button id="addMWItemCLASS_IBtn" type="button" onclick="addMWItem('CLASS_I')" style="float:right;height:30px">Add</button>
            </div>
            <table id="RiTableCLASS_I" class=" w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th>Minor work Item</th>
                        <th>Description</th>
                        <th>Order / Direction /Notice /BD Reference No.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.P_MW_RECORD_ITEMs_CLASS_I.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_I[i].UUID)
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_I[i].CLASS_CODE)
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_I[i].MW_ITEM_CODE)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_I[i].LOCATION_DESCRIPTION)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_I[i].RELEVANT_REFERENCE)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="panelHeader">
                <label>
                    3. Particulars of the appointed person
                </label>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        <label>
                            The appointment of the appointed person
                        </label>
                    </div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_4_AP)
                        Authorized Person
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_4_RI)
                        Registered Inspector
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_4_RSE)
                        Registered Structural Engineer
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_4_RGBC)
                        Registered General Building Contractor
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_4_RMWC)
                        Registered Minor Works Contractor
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>


            <div class="panelHeader">
                <label>
                    4.Completed alteration and strengthening of the above mentioned prescribed building or building works
                </label>
                <button id="addMWItemCLASS_IIIBtn" type="button" onclick="addMWItem('CLASS_III')" style="float:right;height:30px">Add</button>
            </div>
            <div class="w3-row">
                @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_5_COMPLETED_MENTION)
                Alteration and strengthening works involved
            </div>
            <table id="RiTableCLASS_III" class=" w3-table-all w3-hoverable resultTable">
                <thead>
                    <tr>
                        <th>Minor work Item</th>
                        <th>Description</th>
                        <th>Order / Direction /Notice /BD Reference No.</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.P_MW_RECORD_ITEMs_CLASS_III.Count(); i++)
                    {
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].UUID)
                        @Html.HiddenFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].CLASS_CODE)
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].MW_ITEM_CODE)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].LOCATION_DESCRIPTION)
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.P_MW_RECORD_ITEMs_CLASS_III[i].RELEVANT_REFERENCE)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="w3-row">
                @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_5_IDENTICAL)
                Identical to the appointed person
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>

            <div class="panelHeader">
                <label>
                    5.Particulars of the person who arranged for the inspection
                </label>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12"></div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_A_1_INVOLVE)
                        Alteration and strengthening works are involved
                    </div>
                </div>
            </div>
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formOwnerAddress_new.cshtml")

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Sigature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            @*Part B*@
            <div class="panelHeader">
                <label>
                    Part B Confirmation of appointment and certification by the appointed person and notice of inspection & certification
                </label>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Inspection date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].COMPLETION_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        <label>
                            Signature of the appointed person
                        </label>
                    </div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_B_1_AP)
                        Authorized Person
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_B_1_RI)
                        Registered Inspector
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_B_1_RSE)
                        Registered Structural Engineer
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_B_1_RGBC)
                        Registered General Building Contractor
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM06_B_1_RMWC)
                        Registered Minor Works Contractor
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">AS Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].CHINESE_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">AS English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].ENGLISH_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Previously Related VS No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].MW_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Fax No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].FAX_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Contract No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].CONTACT_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Will to receive SMS</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].IS_RECEIVE_SMS)
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[2].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            @*Part C*@
            <div class="panelHeader">
                <label>
                    Part C Confirmation of appointment, notice & certificate of completion by prescribed registered contractor
                </label>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Commencement Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].COMMENCED_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Completion Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].COMPLETION_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">AS Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].CHINESE_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">AS English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].ENGLISH_COMPANY_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Fax No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].FAX_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Contract No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].CONTACT_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Will to receive SMS</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].IS_RECEIVE_SMS)
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[3].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            @*Form Button*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formButton.cshtml")
        </div>
    </form>
</div>
<div id="resultPanel"></div>
