@using MWMS2.Constant
@model MWMS2.Areas.MWProcessing.Models.Fn02MWUR_DeFormModel

<div class="displayForm">
    <form id="inputForm" method="post">

        @{
            for (int i = Model.P_MW_APPOINTED_PROFESSIONALs.Count(); i <= 1; i++)
            {
                Model.P_MW_APPOINTED_PROFESSIONALs.Add(new MWMS2.Entity.P_MW_APPOINTED_PROFESSIONAL());
                Model.P_MW_APPOINTED_PROFESSIONALs[i].ORDERING = i;
            }

            //0
            Model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART = ProcessingConstant.PART_A;
            Model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG = ProcessingConstant.OTHER;

            //1
            Model.P_MW_APPOINTED_PROFESSIONALs[1].FORM_PART = ProcessingConstant.PART_B;
            Model.P_MW_APPOINTED_PROFESSIONALs[1].IDENTIFY_FLAG = ProcessingConstant.OTHER;
        }

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].FORM_PART)

        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].UUID)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ORDERING)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].IDENTIFY_FLAG)
        @Html.HiddenFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].FORM_PART)

        <div class="w3-border displayForm">


            @*Header Information*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formHeaderInformation.cshtml")


            <div class="panelHeader">Part A The appointment of the new authorized person / registered inspector appointed</div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Minor Works Submission No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(m => Model.P_MW_FORM.MW_SUBMISSION_NO, new { @maxlength = "36" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        <label>
                            Declarations
                        </label>
                    </div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_AP)
                        Authorized Person
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_RI)
                        Registered Inspector
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_RSE)
                        Registered Structural Engineer
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_A_RGE)
                        Registered geotechnical engineer
                    </div>
                </div>
            </div>

            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">
                        <label>
                            Reason
                        </label>
                    </div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_REASON_ILL)
                        Illness
                        <br />
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_REASON_ABSENCE)
                        Temporary absence
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Period</div>
                    <div class="w3-col l8 m6 s12">
                        From:
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].EFFECT_FROM_DATE, new { @class = "inputDate" })
                        To:
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].EFFECT_TO_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12"></div>
                    <div class="w3-col l8 m6 s12">
                        @Html.CheckBoxFor(m => Model.P_MW_FORM.IsFORM09_FURTHER_NOTICE)
                        Until further notice that I am temporarily unable to act by
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[0].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            @*Part B*@
            <div class="panelHeader">
                <label>
                    Part B Confirmation of appointment by the authorized person / registered inspector appointed
                </label>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Chinese Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].CHINESE_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">English Name</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ENGLISH_NAME, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Certificate of Registration No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].CERTIFICATION_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Expiry Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].EXPIRY_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Fax No.</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].FAX_NO, new { @class = "w3-col l6 m12 s12" })
                    </div>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l4 m6 s12">Signature Date</div>
                    <div class="w3-col l8 m6 s12">
                        @Html.TextBoxFor(model => model.P_MW_APPOINTED_PROFESSIONALs[1].ENDORSEMENT_DATE, new { @class = "inputDate" })
                    </div>
                </div>
            </div>

            @*Part C*@
            <div class="panelHeader">
                <label>
                    Part C Other Minor Works Submission No. (if applicable)
                </label>
            </div>
            <table id="OtherMW" class=" w3-table-all w3-hoverable resultTable">
                @*<thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>*@
                <tbody>
                    @for (int i = 0; i < 9; i++)
                    {
                        <tr>
                            @for (int j = 0; j < 3; j++)
                            {
                                <td>
                                    @Html.HiddenFor(model => model.P_MW_FORM_09s[(i * 3) + j].ORDERING)
                                    @Html.TextBoxFor(model => model.P_MW_FORM_09s[(i * 3) + j].MW_NUMBER)
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>


            @*Form Button*@
            @Html.Partial("~/Areas/MWProcessing/Views/MwForm/de_formButton.cshtml")
        </div>
    </form>
</div>
<div id="resultPanel"></div>