@model  MWMS2.Areas.MWProcessing.Models.VerificaionFormModel

@{ Dictionary<string, object> attr = new Dictionary<string, object>();}
<div class="sList" id="formInfoCheck">
    <form id="inputForm" method="post">

        <div id="BaseHeader" class="panelHeader">
            <label>Cheking ></label>
            <label id="BaseTitle1" style="margin-left:5px;">Submission Information Checking</label>
            > <label id="BaseTitle2" style="margin-left:5px;">PBP Checking</label>
        </div>

        @Html.HiddenFor(model => model.P_MW_RECORD_FORM_CHECKLIST.UUID)
        @Html.HiddenFor(model => model.P_MW_RECORD.PRE_SITE_AUDIT_RELATED)
        @Html.HiddenFor(model => model.P_MW_RECORD.SITE_AUDIT_RELATED)

        @Html.Partial("~/Areas/MWProcessing/Views/Verification/Included/submissionInfo.cshtml")

        @Html.Partial("~/Areas/MWProcessing/Views/Verification/Included/scannedDoc.cshtml")

        @Html.Partial("~/Areas/MWProcessing/Views/Verification/Included/itemInfo.cshtml")

        <div id="BaseContent" class="w3-border displayForm">

            <div id="BaseForm1" class="w3-border displayForm">
                <table class=" w3-table-all w3-hoverable resultTable">
                    <thead>
                        <tr>
                            <th>
                                Submission Information Checking
                            </th>
                            <th>
                                Result
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Notification</td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.INFO_NOT, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.INFO_NOT, "C", new { @class = "w3-radio" }) Conditional
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.INFO_NOT, "N", new { @class = "w3-radio" }) Refusal
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.INFO_NOT_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.PRC_VALID_MSG)
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PRC_DETAIL_VALID, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PRC_DETAIL_VALID, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PRC_DETAIL_VALID_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.AP_VALID_MSG)
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.AP_DETAIL_VALID, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.AP_DETAIL_VALID, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.AP_DETAIL_VALID_RMK)
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div id="BaseForm2" class="w3-border displayForm">
                <table class=" w3-table-all w3-hoverable resultTable">
                    <thead>
                        <tr>
                            <th colspan="5">PBP Information</th>
                        </tr>
                        <tr>
                            <th>PBP</th>
                            <th>Certification of Registration No.</th>
                            <th>English Name</th>
                            <th>Chinese Name</th>
                            <th>Name of PBP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Nominator
                            </td>
                            <td>
                                @Model.AppointedOther0.CERTIFICATION_NO
                            </td>
                            <td>
                                @Model.AppointedOther0.ENGLISH_NAME
                                @if (!string.IsNullOrEmpty(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_ENGLISH_NAME_MSG))
                                {
                                    @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_ENGLISH_NAME_MSG)
                                }
                            </td>
                            <td>
                                @Model.AppointedOther0.CHINESE_NAME
                                @if (!string.IsNullOrEmpty(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_CHINESE_NAME_MSG))
                                {
                                    @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_CHINESE_NAME_MSG)
                                }
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_NAME, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_NAME, "N", new { @class = "w3-radio" }) Not OK
                                @if (Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_NAME == "N")
                                {
                                    <label style="color:#FF0000;">
                                        @Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_INFO_NAME_MSG
                                    </label>
                                }
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nominee
                                @*appointedOther1*@
                                @Model.AppointedOther1.IDENTIFY_FLAG
                            </td>
                            <td>
                                @Model.AppointedOther1.CERTIFICATION_NO
                            </td>
                            <td>
                                @Model.AppointedOther1.ENGLISH_NAME
                                @if (!string.IsNullOrEmpty(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_ENGLISH_NAME_MSG))
                                {
                                    @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_ENGLISH_NAME_MSG)
                                }
                            </td>
                            <td>
                                @Model.AppointedOther1.CHINESE_NAME
                                @if (!string.IsNullOrEmpty(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_CHINESE_NAME_MSG))
                                {
                                    @Html.Raw(Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_CHINESE_NAME_MSG)
                                }
                            </td>

                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_NAME, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_NAME, "N", new { @class = "w3-radio" }) Not OK
                                @if (Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_NAME == "N")
                                {
                                    <label style="color:#FF0000;">
                                        @Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_INFO_NAME_MSG
                                    </label>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class=" w3-table-all w3-hoverable resultTable">
                    <thead>
                        <tr>
                            <th>PBP Checking</th>
                            <th>Result</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">Checking of AP/RI/RSE/RGE</td>
                        </tr>
                        <tr>
                            <td>Validity of appointed AP/RI/RSE/RGE (nominator)</td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_VALID, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_VALID, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_VALID_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nominator
                                <br />
                                @Html.CheckBox("FORM09_REASON_ILL", Model.P_MW_FORM.FORM09_REASON_ILL == "Y", new { @disabled = "True" }) Illness
                                <br />
                                @Html.CheckBox("FORM09_REASON_ABSENCE", Model.P_MW_FORM.FORM09_REASON_ABSENCE == "Y", new { @disabled = "True" }) Temporary absence from HK
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_REASON, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_REASON, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_REASON_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Acting Period
                                <br />
                                Commencement Date: @(string.IsNullOrEmpty(Model.AppointedOther1.EFFECT_FROM_DATE.ToString()) ? "" : Model.AppointedOther1.EFFECT_FROM_DATE.ToString().Substring(0, 10))
                                <br />
                                Completion Date: @(string.IsNullOrEmpty(Model.AppointedOther1.EFFECT_TO_DATE.ToString()) ? "" : Model.AppointedOther1.EFFECT_TO_DATE.ToString().Substring(0, 10))
                                <br />
                                @Html.CheckBox("FORM09_FURTHER_NOTICE", Model.P_MW_FORM.FORM09_FURTHER_NOTICE == "Y", new { @disabled = "True" }) Until further notice
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_ACTING_PERIOD, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_ACTING_PERIOD, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.FORM09_ACTING_PERIOD_RMK)
                            </td>
                        </tr>

                        @*mwForm09List*@
                        @for (int i = 0; i < Model.P_MW_FORM_09s.Count(); i++)
                        {
                            <tr>
                                <td>
                                    Appointed AP/RI/RSE/RGE match up with nominator @Model.P_MW_FORM_09s[i].MW_NUMBER
                                </td>
                                <td>
                                    @Html.RadioButtonFor(model => Model.P_MW_FORM_09s[i].TO_CHECKING, "O", new { @class = "w3-radio" }) OK
                                    @Html.RadioButtonFor(model => Model.P_MW_FORM_09s[i].TO_CHECKING, "N", new { @class = "w3-radio" }) Not OK
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => Model.P_MW_FORM_09s[i].TO_RMK)
                                </td>
                            </tr>
                        }


                        <tr>
                            <td>
                                Validity of appointed AP/RI/RSE/RGE (nominee)
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_VALID, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_VALID, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_VALID_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Signature of AP/RI/RSE/RGE (nominator)
                                <br />
                                Specimen Signature:<img src='/img/view.gif'>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGN, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGN, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGN_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Signature of AP/RI/RSE/RGE (nominee)
                                <br />
                                Specimen Signature:<img src='/img/view.gif'>
                            </td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_SIGN, "O", new { @class = "w3-radio" }) OK
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_SIGN, "N", new { @class = "w3-radio" }) Not OK
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_AP_SIGN_RMK)
                            </td>
                        </tr>

                        <tr>
                            <td>
                                AP/RI/RSE/RGE(Nominator) Signature Date
                                <br />
                                Signature Date: @(string.IsNullOrEmpty(Model.AppointedOther0.ENDORSEMENT_DATE.ToString()) ? "" : Model.AppointedOther0.ENDORSEMENT_DATE.ToString().Substring(0, 10))
                            </td>
                            @{
                                attr.Add("class", "w3-radio");
                                if (Model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGNATURE_DATE_RMK == "N/A") { attr.Add("disabled", "true"); attr.Add("readonly", "true"); }

                                <td>
                                    @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGNATURE_DATE, "O", attr)<span>OK</span>
                                    @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGNATURE_DATE, "N", attr)<span>Not OK</span>
                                </td>

                                attr.Remove("class");
                                attr.Remove("disabled");
                                <td>
                                    @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_AP_SIGNATURE_DATE_RMK, attr)
                                </td>
                                attr.Remove("readonly");
                            }
                        </tr>

                        <tr>
                            <td>
                                AP/RI/RSE/RGE(Nominee) Signature Date
                                <br />
                                Signature Date: @(string.IsNullOrEmpty(Model.AppointedOther1.ENDORSEMENT_DATE.ToString()) ? "" : Model.AppointedOther1.ENDORSEMENT_DATE.ToString().Substring(0, 10))
                            </td>
                            @{
                                attr.Add("class", "w3-radio");
                                if (Model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_SIGNATURE_DATE_RMK == "N/A") { attr.Add("disabled", "true"); attr.Add("readonly", "true"); }

                                <td>
                                    @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_SIGNATURE_DATE, "O", attr)<span>OK</span>
                                    @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_SIGNATURE_DATE, "N", attr)<span>Not OK</span>
                                </td>

                                attr.Remove("class");
                                attr.Remove("disabled");
                                <td>
                                    @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_NEW_SIGNATURE_DATE_RMK, attr)
                                </td>
                                attr.Remove("readonly");
                            }
                        </tr>

                        <tr>
                            <td colspan="3">Checking Other Information</td>
                        </tr>
                        <tr>
                            <td>Other Information</td>
                            <td>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_OTHER, "O", new { @class = "w3-radio" })<span>OK</span>
                                @Html.RadioButtonFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_OTHER, "N", new { @class = "w3-radio" })<span>Not OK</span>
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.P_MW_RECORD_FORM_CHECKLIST.PBP_OTHER_RMK)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        @Html.Partial("~/Areas/MWProcessing/Views/Verification/Included/verification_footer.cshtml")

        @Html.Partial("~/Areas/MWProcessing/Views/Verification/Included/submit_buttons.cshtml")
    </form>
</div>

