
@model MWMS2.Entity.B_S_AUDIT_CHECK_PERCENTAGE

@section scripts{

    <script type="text/javascript">
        function YearChange(element) {
            $.ajax({
                type: "POST",
                url: "/SMM1103AuditCheckPercentage/SelectedYearChange",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { year: element.value },
                success: function (data) {

                    $('#Percentage').val(data.YearPercentage);
                    if (data.MODIFIED_DATE != undefined) {
                        document.getElementById("MODIFIED_DATE").innerHTML = data.MODIFIED_DATE;
                    }
                    else {
                        document.getElementById("MODIFIED_DATE").innerHTML = ""
                    }
                    if (data.MODIFIED_BY != undefined) {
                        document.getElementById("MODIFIED_BY").innerHTML = data.MODIFIED_BY;
                    }
                    else {
                        document.getElementById("MODIFIED_BY").innerHTML = ""
                    }
                },
            });

        }

    </script>
}
<h3> Audit check % </h3>
<br />
<div style="text-align: right; width: 100%;">
    Last Modified Date:
    <span id="MODIFIED_DATE">
        @Html.DisplayFor(model => model.MODIFIED_DATE)
    </span>
</div>
<div style="text-align: right; width: 100%;">
    Last Modified By:
    <span id="MODIFIED_BY">
        @Html.DisplayFor(model => model.MODIFIED_BY)
    </span>
</div>
@using (Html.BeginForm("SMM1103AuditCheckPercentage", "SMM1103AuditCheckPercentage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="sList">
        <table class="inputTable">


            <tbody>
                <tr>
                    <th>
                        Year :
                    </th>
                    <td>
                        @Html.DropDownListFor(model => model.YEAR, (IEnumerable<SelectListItem>)ViewBag.Year, new { style = "width:auto", @onchange = "YearChange(this)", id = "Year" })


                    </td>
                </tr>

                <tr>
                    <th>
                        Percentage :
                    </th>
                    <td>
                        @Html.TextBoxFor(model => model.PERCENTAGE, new { style = "width:200px;", id = "Percentage", @type = "number", @min = "0", @max = "100" }) %
                    </td>
                </tr>


            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <input type="submit" id="submit" value="Submit" />
                        @*<input class="inputButton" id="btnSubmit" name="btnSubmit" value="Submit" onclick="loadContentPage('SMM1107')" type="button">*@
                        <input class="inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("SMM1103","SMM1103")"' type="button">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div style="display:none">
        @Html.EditorForModel()
    </div>
}

<br>