@model MWMS2.Areas.MWProcessing.Models.Fn01LM_AckSearchModel

<div class="panelHeader">
    Edit Acknowlegdement
</div>

<form id="inputForm" method="post">
    @*@using (Html.BeginForm("Update", "Fn01LM_Ack", FormMethod.Post, new { @id = "inputForm" }))
        {*@

    <div id="searchCriteria" class="w3-border displayForm">
        @Html.HiddenFor(m => m.P_MW_ACK_LETTER.UUID)
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Counter :</div>
                <div class="w3-col l9 m12 s12">
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.COUNTER, "1", new { @class = "w3-radio" }) Kwun Tong</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.COUNTER, "2", new { @class = "w3-radio" }) Pioneer Centre</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.COUNTER, "3", new { @class = "w3-radio" }) E-submission</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.COUNTER, "4", new { @class = "w3-radio" })WKGO</label>
                    @*| <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.COUNTER, "4", new { @class = "w3-radio" }) All</label>*@
                    |
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Nature :</div>
                <div class="w3-col l9 m12 s12">
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "SUBMISSION", new { @class = "w3-radio" }) Submission</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "E-SUBMISSION", new { @class = "w3-radio" }) E-Submission</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "DIRECT RETURN", new { @class = "w3-radio" }) Direct Return</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "WITHDRAWAL", new { @class = "w3-radio" }) Withdrawal</label>
                    | <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "ICU", new { @class = "w3-radio" }) ICU</label>
                    @*| <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.NATURE, "All", new { @class = "w3-radio" }) All</label>*@
                    |
                </div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">DSN :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.DSN
                    @Html.HiddenFor(m => m.P_MW_ACK_LETTER.DSN)
                </div>
                <div class="w3-col l3 m12 s12">Audit Selected? :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.AUDIT_RELATED
                    @*<label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.AUDIT_RELATED, "Y", new { @class = "w3-radio" }) Y</label>|
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.AUDIT_RELATED, "N", new { @class = "w3-radio" }) N</label>
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.AUDIT_RELATED, "All", new { @class = "w3-radio" }) All</label>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Received Date :</div>
                <div class="w3-col l3 m12 s12">
                    @*From*@
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.RECEIVED_DATE, new { @class = "inputDate" })
                    @* To*@
                    @* @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.RECEIVED_DATE, new { @class = "inputDate" })*@
                </div>
                <div class="w3-col l3 m12 s12">Letter Date :</div>
                <div class="w3-col l3 m12 s12">
                    @*From*@
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.LETTER_DATE, new { @class = "inputDate" })
                    @*To*@
                    @*@Html.TextBoxFor(m => m.P_MW_ACK_LETTER.LETTER_DATE, new { @class = "inputDate" })*@
                    @*<br />
                        <input type="checkbox" name="mwAckLetterFixed" value="" />
                        <span>(如tick此，可check未出信的cases!!)</span>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">MW No. :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.MW_NO
                    @Html.HiddenFor(m => m.P_MW_ACK_LETTER.MW_NO)
                </div>
                <div class="w3-col l3 m12 s12">File Reference No.  :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.FILEREF_FOUR, new { style = "width:60px", maxlength = "4", disabled = "disabled", @class = "DisableTextClass" })/
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.FILEREF_TWO, new { style = "width:40px", maxlength = "2", disabled = "disabled", @class = "DisableTextClass" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Form No. :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.FORM_NO
                    @Html.HiddenFor(m => m.P_MW_ACK_LETTER.FORM_NO)
                </div>
                <div class="w3-col l3 m12 s12">
                    Previous MW No.:
                </div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.PREVIOUS_RELATED_MW_NO, new { style = "width:235px;" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">開工  :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.COMM_DATE, new { @class = "inputDate" })
                </div>
                <div class="w3-col l3 m12 s12">完工  :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.COMP_DATE, new { @class = "inputDate", onblur = "onCompletedDateBlur(this)" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">MW Items  :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.MW_ITEM, new { style = "width:555px;", onblur = "onMwItemsBlur(this)" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Order Related  :</div>
                <div class="w3-col l3 m12 s12">
                    <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.ORDER_RELATED, "Y", new { @class = "w3-radio" }) Y</label>|
                    <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.ORDER_RELATED, "N", new { @class = "w3-radio" }) N</label>
                    @*<label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.ORDER_RELATED, "All", new { @class = "w3-radio" }) All</label>*@
                </div>
                <div class="w3-col l3 m12 s12">SSP Related  :</div>
                <div class="w3-col l3 m12 s12">
                    <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SSP, "Y", new { @class = "w3-radio" }) Y</label>|
                    <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SSP, "N", new { @class = "w3-radio" }) N</label>
                    @*<label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SSP, "All", new { @class = "w3-radio" }) All</label>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Signboard :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.SIGNBOARD_RELATED
                    @*<label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SIGNBOARD_RELATED, "Y", new { @class = "w3-radio" }) Y</label>|
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SIGNBOARD_RELATED, "N", new { @class = "w3-radio" }) N</label>
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SIGNBOARD_RELATED, "All", new { @class = "w3-radio" }) All</label>*@
                </div>
                <div class="w3-col l3 m12 s12">SDF Related  :</div>
                <div class="w3-col l3 m12 s12">
                    @Model.P_MW_ACK_LETTER.SDF_RELATED
                    @*<label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SDF_RELATED, "Y", new { @class = "w3-radio" }) Y</label>|
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SDF_RELATED, "N", new { @class = "w3-radio" }) N</label>
                        <label>@Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.SDF_RELATED, "All", new { @class = "w3-radio" }) All</label>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">
                    Referral Date :
                </div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.REFERRAL_DATE, new { @class = "inputDate" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">PBP No. :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.PBP_NO, new { style = "width:235px;", oninput = "oninputFormatPBP()", onblur = "getPbpEmail()" })
                    <br />
                    1=AP(A) | 2=AP(E) | 3=AP(S)
                    <br />
                    [其他就要全打，如RI(A)。]
                </div>
                <div class="w3-col l3 m12 s12">PBP Email  :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.EMAIL_OF_PBP, new { style = "width:350px;", maxlength = "100" })
                    <div>
                        <button id="pbpSenderBtn" type="button" class="hide" onclick="pbpOrPrcSendEmail('PBP')">Send</button>
                        <span id="pbpSenderMsg"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">PRC No. :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.PRC_NO, new { style = "width:235px;", oninput = "oninputFormatPRC()", onblur = "getPrcEmail()" })
                    <br />
                    1=GBC   | 2=MWC  | 3=MWC(W)
                    <br />
                    [其他就要全打，如SC(D)。]
                </div>
                <div class="w3-col l3 m12 s12">PRC Email :</div>
                <div class="w3-col l3 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.EMAIL_OF_PRC, new { style = "width:350px;", maxlength = "100" })
                    <div>
                        <button id="prcSenderBtn" type="button" class="hide" onclick="pbpOrPrcSendEmail('PRC')">Send</button>
                        <span id="prcSenderMsg"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Address  :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.ADDRESS, new { style = "width:555px;", type = "search" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Street :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.STREET, new { style = "width:555px;", type = "search" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Street No. :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.STREET_NO, new { style = "width:555px;", type = "search" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Building :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.BUILDING, new { style = "width:555px;", oninput = "oninputFormatBuilding()", type = "search" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Floor :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.FLOOR, new { style = "width:555px;", oninput = "oninputFormatFloor()", type = "search" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Unit  :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.UNIT, new { style = "width:555px;", type = "search" })
                </div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">
                    Block Id  :
                </div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.ADR_BLK_ID, new { style = "width:555px;", @readonly = "readonly" })
                </div>
            </div>
        </div>

        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">
                    Unit Id  :
                </div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.ADR_UNIT_ID, new { style = "width:555px;", @readonly = "readonly" })
                </div>
            </div>
        </div>



        @*<div class="w3-row">
                <div class="w3-col l12 m12 s12">
                    <div class="w3-col l3 m12 s12">Strengthening of PBBW :</div>
                    <div class="w3-col l9 m12 s12">


                        <label>
                            <input type="radio" class="w3-radio" name="PBBW" value="Y" checked="checked" />Y |
                        </label>
                        <label>
                            <input type="radio" class="w3-radio" name="PBBW" value="N" />N |
                        </label>
                        <label>
                            <input type="radio" class="w3-radio" name="PBBW" value="All" />All
                        </label>
                    </div>
                </div>
            </div>*@
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">PAW  :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.PAW, new { style = "width:555px;", oninput = "oninputPAW()" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">PAW Contact :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.PAW_CONTACT, new { style = "width:555px;", oninput = "oninputPAW()" })
                    @*<br />
                        <span>如果係FAX，只打號碼，不要隔格。</span>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">I.O./Mgt. :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.IO_MGT, new { style = "width:555px;" })
                    <!--<span>如入"*"，可找出但凡有入I.O.資料的cases!!!</span>-->
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">I.O./Mgt. Contact :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.IO_MGT_CONTACT, new { style = "width:555px;" })
                    <br />
                    @*<span>如果係FAX，只打號碼，不要隔格。</span>*@
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">Remarks :</div>
                <div class="w3-col l9 m12 s12">
                    @Html.TextBoxFor(m => m.P_MW_ACK_LETTER.REMARK, new { style = "width:555px;" })
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">
                    Language:
                </div>
                <div class="w3-col l3 m12 s12">
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.LANGUAGE, Model.LANGUAGE_RADIO_CHINESE, new { @class = "w3-radio", @name = "language" })
                        中文
                    </label>|
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.LANGUAGE, Model.LANGUAGE_RADIO_ENGLISH, new { @class = "w3-radio", @name = "language" })
                        English
                    </label>
                </div>
                <div class="w3-col l3 m12 s12">
                    Document Type:
                </div>
                <div class="w3-col l3 m12 s12">
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.FILE_TYPE, "PDF", new { @class = "w3-radio" })pdf
                    </label>|
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.FILE_TYPE, "DOCX", new { @class = "w3-radio", })docx
                    </label>
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">
                    Barcode/ QR Code:
                </div>
                <div class="w3-col l3 m12 s12">
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.BARCODE, "Y", new { @class = "w3-radio" })
                        Y
                    </label>|
                    <label>
                        @Html.RadioButtonFor(m => m.P_MW_ACK_LETTER.BARCODE, "N", new { @class = "w3-radio" })
                        N
                    </label>
                </div>
            </div>
        </div>

        <div class="w3-container footer">
            @*<button id="BarcodeButton" class="searchButton btn btn-default" type="button"> Barcode/QRcode</button>*@
            <button id="updateButton" class="searchButton btn btn-default" type="button"> Update</button>
            <button id="cancelButton" onclick='goTo("Index");' class="searchButton btn btn-default" type="button"> Cancel</button>
            <button id="deleteButton" onclick='onDeleteForm("@Model.P_MW_ACK_LETTER.UUID")' class="searchButton btn btn-default" type="button"> Confirm Delete</button>
            <button id="generateLetterButton" onclick='onGenerateLetter("@Model.P_MW_ACK_LETTER.UUID")' class="searchButton btn btn-default" type="button"> Generate Letter</button>
        </div>
    </div>
    @*}*@
</form>

<br />
<div class="panelHeader">PBP & PRC Information</div>
<div class="w3-border displayForm">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12"> PBP No</div>
            <div class="w3-col l3 m12 s12">
                @Model.PBP.CERTIFICATION_NO

                @if (string.IsNullOrWhiteSpace(Model.PBP.CERTIFICATION_NO))
                {
                    <span class="errorText"> No PBP Appointed</span>
                }
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12"> PBP Name</div>
            <div class="w3-col l3 m12 s12">
                @Model.PBP.SURNAME @Model.PBP.GIVEN_NAME
                @Model.PBP.CHINESE_NAME
            </div>
            <div class="w3-col l3 m12 s12"> PBP Fax	 </div>
            <div class="w3-col l3 m12 s12">
                @Model.PBP.FAX_NO
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12"> PBP Address</div>
            <div class="w3-col l3 m12 s12">
                @Model.PBP.EN_ADDRESS_LINE1 &nbsp;
                @Model.PBP.EN_ADDRESS_LINE2 &nbsp;
                @Model.PBP.EN_ADDRESS_LINE3 &nbsp;
                @Model.PBP.EN_ADDRESS_LINE4 &nbsp;
                @Model.PBP.EN_ADDRESS_LINE5 &nbsp;
                <br />
                @Model.PBP.CN_ADDRESS_LINE1 &nbsp;
                @Model.PBP.CN_ADDRESS_LINE2 &nbsp;
                @Model.PBP.CN_ADDRESS_LINE3 &nbsp;
                @Model.PBP.CN_ADDRESS_LINE4 &nbsp;
                @Model.PBP.CN_ADDRESS_LINE5 &nbsp;
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12"> PRC No</div>
            <div class="w3-col l3 m12 s12">
                @Model.PRC.CERTIFICATION_NO

                @if (string.IsNullOrWhiteSpace(Model.PRC.CERTIFICATION_NO))
                {
                    <span class="errorText"> No PBP Appointed</span>
                }
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12"> PRC Name</div>
            <div style="word-wrap:break-word" class="w3-col l3 m12 s12">
                @Model.PRC.SURNAME @Model.PRC.GIVEN_NAME
                <br />
                @Model.PRC.CHINESE_NAME
            </div>
            <div class="w3-col l3 m12 s12"> PRC Fax	 </div>
            <div class="w3-col l3 m12 s12">
                @Model.PRC.FAX_NO
            </div>
        </div>
    </div>
    @*<div class="w3-row">
            <div class="w3-col l12 m12 s12">
                <div class="w3-col l3 m12 s12">PRC </div>
                <div class="w3-col l3 m12 s12">

                </div>
            </div>
        </div>*@
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m12 s12">PRC Address</div>
            <div class="w3-col l3 m12 s12">
                @Model.PRC.EN_ADDRESS_LINE1 &nbsp;
                @Model.PRC.EN_ADDRESS_LINE2 &nbsp;
                @Model.PRC.EN_ADDRESS_LINE3 &nbsp;
                @Model.PRC.EN_ADDRESS_LINE4 &nbsp;
                @Model.PRC.EN_ADDRESS_LINE5 &nbsp;
                <br />
                @Model.PRC.CN_ADDRESS_LINE1 &nbsp;
                @Model.PRC.CN_ADDRESS_LINE2 &nbsp;
                @Model.PRC.CN_ADDRESS_LINE3 &nbsp;
                @Model.PRC.CN_ADDRESS_LINE4 &nbsp;
                @Model.PRC.CN_ADDRESS_LINE5 &nbsp;
            </div>
        </div>
    </div>
</div>

<br />
<div id="resultPanel" class="w3-border displayForm">
</div>

<div id="modal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-teal">
            <span onclick="cancelSave()" class="w3-closebtn w3-right">&times;</span>
            <h2>Warning</h2>
        </header>
        <div class="w3-container">
            <p>Address matched. Confirm save?</p>
        </div>
        <footer class="w3-container w3-teal">
            <button onclick="saveForm()" class="w3-btn">Yes</button>
            <button onclick="cancelSave()" class="w3-btn">No</button>
        </footer>
    </div>
</div>

<script type="text/javascript">

    domReady(function () {
        var uuid = $('#P_MW_ACK_LETTER_UUID').val();
        attr("updateButton", "onclick", { parameters: {}, callback: onSaveForm });
        //attr("generateLetterButton", "onclick", { parameters: {}, callback: onGenerateLetter });
        //attr("cancelButton", "onclick", { parameters: {}, callback: onBackForm });
        //attr("deleteButton", "onclick", { parameters: { uuid }, callback: onDeleteForm });

        atcpAddress({
            streetName: "P_MW_ACK_LETTER_STREET"
            , streetNo: "P_MW_ACK_LETTER_STREET_NO"
            , building: "P_MW_ACK_LETTER_BUILDING"
            , floor: "P_MW_ACK_LETTER_FLOOR"
            , unit: "P_MW_ACK_LETTER_UNIT"
            , blkId: "P_MW_ACK_LETTER_ADR_BLK_ID"
            , unitId: "P_MW_ACK_LETTER_ADR_UNIT_ID"
        });

        getPbpEmail();
        getPrcEmail();
        //getFileRefNo($("#P_MW_ACK_LETTER_MW_NO").val())
    });

    function onSaveForm(d, p, e) {
        attr("inputForm", "addClass", "saving");
        $.post("CheckAddress", $("#inputForm").serialize(), function (data) {
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                document.getElementById('modal').style.display = 'block';
                saveForm();
            }
            else {
                $("#inputForm").removeClass("saving");
                saveForm();
                //console.log(data);
            }
        }, "json");
    }

    function cancelSave() {
        document.getElementById('modal').style.display = 'none';
        $("#inputForm").removeClass("saving");
    }

    function saveForm() {
        document.getElementById('modal').style.display = 'none';
        $.post("Save", $("#inputForm").serialize(), function (data) {
            attr("inputForm", "dropClass", "saving");
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                openNewTab(domId("rootPath").value + "/MWProcessing/Viewer/AcknowledgementDocument", [{ name: "id", value: $('#P_MW_ACK_LETTER_UUID').val() }]);
            }
            else {
                showErrorMessage(data.ErrorMessages);
                alert(data.Message[0]);
                console.log(data);
            }
        }, "json");
    }

    function onGenerateLetter(appUUID) {
        //if (window.dlForm == null) dlForm = dom_(document.body, "form");
        //dlForm.method = "post";
        ////dlForm.target = "dlFrame";
        //dlForm.action = "Print";
        //dom_(dlForm, "input", { "type": "hidden", "name": "id", "value": appUUID });
        //dlForm.submit();
        //attr(dlForm, "html", "");

        openNewTab(domId("rootPath").value + "/MWProcessing/Viewer/AcknowledgementDocument", [{ name: "id", value: $('#P_MW_ACK_LETTER_UUID').val() }]);
    }

    function onBackForm(d, p, e) { goTo("Index"); }

    function onDeleteForm(appUUID) {
        var popuper1 = new popuper({
            title: "Confirmation Message"
            , message: "Are you sure you want to delete?"
            , buttons: [
                createButton("Yes", "fa-check", [{
                    "onclick": {
                        parameters: { row: appUUID }, callback: function (d, p, e) {
                            popuper1.close();
                            goTo("Delete", [{ name: "id", value: appUUID }]);

                        }
                    }
                }, { "addClass": "w3-red" }])
                , createButton("No", "fa-times", [{ "onclick": { parameters: { row: appUUID }, callback: function (d, p, e) { popuper1.close(); } } }])
            ]
        }).open();
    }

    function oninputFormatPBP() {
        var pbp = $("#P_MW_ACK_LETTER_PBP_NO").val();
        if (pbp === ("1".trim())) {
            $("#P_MW_ACK_LETTER_PBP_NO").val("AP(A) ");
        } else if (pbp === "2".trim()) {
            $("#P_MW_ACK_LETTER_PBP_NO").val("AP(E) ");
        } else if (pbp === "3".trim()) {
            $("#P_MW_ACK_LETTER_PBP_NO").val("AP(S) ");
        } else {
            $("#P_MW_ACK_LETTER_PBP_NO").val(pbp.toUpperCase());
        }
    }

    function oninputFormatPRC() {
        var prc = $("#P_MW_ACK_LETTER_PRC_NO").val();
        if (prc === "1".trim()) {
            $("#P_MW_ACK_LETTER_PRC_NO").val("GBC ");
        } else if (prc === "2".trim()) {
            $("#P_MW_ACK_LETTER_PRC_NO").val("MWC ");
        } else if (prc === "3".trim()) {
            $("#P_MW_ACK_LETTER_PRC_NO").val("MWC(W) ");
        } else {
            $("#P_MW_ACK_LETTER_PRC_NO").val(prc.toUpperCase());
        }
    }

    function oninputPAW() {
        var paw = $("#P_MW_ACK_LETTER_PAW").val();
        var pawcontact = $("#P_MW_ACK_LETTER_PAW_CONTACT").val();

        $("#P_MW_ACK_LETTER_PAW").val(paw.toUpperCase());
        $("#P_MW_ACK_LETTER_PAW_CONTACT").val(pawcontact.toUpperCase());
    }

    function oninputFormatBuilding() {
        var building = $("#P_MW_ACK_LETTER_BUILDING").val();
        $("#P_MW_ACK_LETTER_BUILDING").val(building.toUpperCase());
    }
    function oninputFormatFloor() {
        var building = $("#P_MW_ACK_LETTER_FLOOR").val();
        $("#P_MW_ACK_LETTER_FLOOR").val(building.toUpperCase());
    }


    function getPbpEmail() {
        var CerificationNo = $("#P_MW_ACK_LETTER_PBP_NO").val();
        var dsn = $("#P_MW_ACK_LETTER_DSN").val();
        if (isNull(CerificationNo)) {
            return;
        }
        $.post("GetEmailByCerNo", { "CerificationNo": CerificationNo, dsn: dsn, type: "PBP" }, function (data) {
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                var email = $("#P_MW_ACK_LETTER_EMAIL_OF_PBP").val();
                if (email == "") {
                    $("#P_MW_ACK_LETTER_EMAIL_OF_PBP").val(data.Data);
                }
                console.log(data);
                if (data.Message[0] === "NoSender" && !isNull(dsn)) {
                    $("#pbpSenderBtn").removeClass("hide");
                    $("#pbpSenderMsg").text("");
                } else {
                    $("#pbpSenderBtn").addClass("hide");
                    if (data.Message[0] === "Ready") {
                        $("#pbpSenderMsg").text("ACK Letter has ready to send");
                    } else if (data.Message[0] === "Transmitted") {
                        $("#pbpSenderMsg").text("ACK Letter has Transmitted");
                    } else {
                        $("#pbpSenderMsg").text("");
                    }
                }
            }
            else {
                // showErrorMessage(data.ErrorMessages);
            }
        }, "json");
    }

    function isNull(para) {
        if (para != undefined && para != null && para != "") {
            return false;
        }
        return true;
    }
    //function getFileRefNo(mwno) {
    //    if (!isNull(mwno)) {
    //        $.post(domId("rootPath").value + "/MWProcessing/Fn01LM_Ack/GetFileRefNo", { mwno: mwno }, function (data) {
    //            if (data != null && data.Result != null && data.Result == "SUCCESS") {
    //                console.log(data.Message);
    //                $("#P_MW_ACK_LETTER_FILEREF_FOUR").val(data.Message[0]);
    //                $("#P_MW_ACK_LETTER_FILEREF_TWO").val(data.Message[1]);
    //            }
    //            else {
    //                $("#P_MW_ACK_LETTER_FILEREF_FOUR").val("");
    //                $("#P_MW_ACK_LETTER_FILEREF_TWO").val("");
    //                showErrorMessage(data.ErrorMessages);
    //                console.log(data);
    //            }
    //        }, "json");
    //    }
    //}

    function getPrcEmail() {
        var CerificationNo = $("#P_MW_ACK_LETTER_PRC_NO").val();
        var dsn = $("#P_MW_ACK_LETTER_DSN").val();
        if (isNull(CerificationNo)) {
            return;
        }
        $.post("GetEmailByCerNo", { "CerificationNo": CerificationNo, dsn: dsn, type: "PRC" }, function (data) {
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                var email = $("#P_MW_ACK_LETTER_EMAIL_OF_PRC").val();
                if (email == "") {
                    $("#P_MW_ACK_LETTER_EMAIL_OF_PRC").val(data.Data);
                }
                if (data.Message[0] === "NoSender" && !isNull(dsn)) {
                    $("#prcSenderBtn").removeClass("hide");
                    $("#prcSenderMsg").text("");
                } else {
                    $("#prcSenderBtn").addClass("hide");
                    if (data.Message[0] === "Ready") {
                        $("#prcSenderMsg").text("ACK Letter has ready to send");
                    } else if (data.Message[0] === "Transmitted") {
                        $("#prcSenderMsg").text("ACK Letter has Transmitted");
                    } else {
                        $("#prcSenderMsg").text("");
                    }
                }

            }
            else {
                // showErrorMessage(data.ErrorMessages);
            }
        }, "json");
    }
    function pbpOrPrcSendEmail(type) {
        var email = "";
        var dsn = $("#P_MW_ACK_LETTER_DSN").val();
        var uuid = $("#P_MW_ACK_LETTER_UUID").val();
        if (type === "PBP") {
            email = $("#P_MW_ACK_LETTER_EMAIL_OF_PBP").val();
        } else if (type === "PRC") {
            email = $("#P_MW_ACK_LETTER_EMAIL_OF_PRC").val();
        }
        if (isNull(dsn) || isNull(email)) {
            return;
        }
        $.post("AddEmailSender", { uuid: uuid, dsn: dsn, email: email, type: type }, function (data) {
            if (data != null && data.Result != null && data.Result == "SUCCESS") {
                console.log(data);
                if (type === "PBP") {
                    getPbpEmail();
                } else if (type === "PRC") {
                    getPrcEmail();
                }
            }
            else {
                // showErrorMessage(data.ErrorMessages);
            }
        }, "json");
    }

    function onCompletedDateBlur(sender) {
        console.log(sender);
        if (sender.value == "") {
            return;
        }
        markError(sender, checkCompletedDate());
    }

    function markError(dom, flag) {
        dom.style.color = flag ? "" : "#FF0000";
        dom.style.fontWeight = flag ? "" : "bold";
    }

    function checkCompletedDate() {
        var completedDate = document.getElementById("P_MW_ACK_LETTER_COMP_DATE").value;
        var comdate = completedDate.split('/');
        var comd = new Date(comdate[2], comdate[1] - 1, comdate[0]);

        var currDate = new Date();//.getTime();
        var currd = dateFormat(currDate);
        var curdate = currd.split('/');
        var curd = new Date(curdate[2], curdate[1] - 1, curdate[0]);

        if (comd > curd) {
            return false;
        }
        return true;
    }

    function dateFormat(sender) {
        var dd = sender.getDate();
        var mm = sender.getMonth() + 1;
        var yyyy = sender.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var sender = dd + '/' + mm + '/' + yyyy;
        return sender;
    }

    function onMwItemsBlur(sender) {
        if (sender.value == "") {
            return;
        }
        markError(sender, mwItemsValid(sender));
    }
    function mwItemsValid(sender) {
        var itemNo = sender.value;
        var mwitems = new Array(
            "1", "2", "3", "4",
            "1.1", "1.2", "1.3", "1.4", "1.5", "1.6", "1.7", "1.8", "1.9", "1.10",
            "1.11", "1.12", "1.13", "1.14", "1.15", "1.16", "1.17", "1.18", "1.19", "1.20",
            "1.21", "1.22", "1.23", "1.24", "1.25", "1.26", "1.27", "1.28", "1.29", "1.30",
            "1.31", "1.32", "1.33", "1.34", "1.35", "1.36", "1.37", "1.38", "1.39", "1.40",
            "1.41", "1.42", "1.43", "1.44",

            "2.1", "2.2", "2.3", "2.4", "2.5", "2.6", "2.7", "2.8", "2.9", "2.10",
            "2.11", "2.12", "2.13", "2.14", "2.15", "2.16", "2.17", "2.18", "2.19", "2.20",
            "2.21", "2.22", "2.23", "2.24", "2.25", "2.26", "2.27", "2.28", "2.29", "2.30",
            "2.31", "2.32", "2.33", "2.34", "2.35", "2.36", "2.37", "2.38", "2.39", "2.40",

            "3.1", "3.2", "3.3", "3.4", "3.5", "3.6", "3.7", "3.8", "3.9", "3.10",
            "3.11", "3.12", "3.13", "3.14", "3.15", "3.16", "3.17", "3.18", "3.19", "3.20",
            "3.21", "3.22", "3.23", "3.24", "3.25", "3.26", "3.27", "3.28", "3.29", "3.30",
            "3.31", "3.32", "3.33", "3.34", "3.35", "3.36", "3.37", "3.38", "3.39", "3.40",
            "3.41", "3.42");
        if ((itemNo != "") && itemNo.charAt(itemNo.length - 1) != "/") {
            sender.value = sender.value + "/";
        }
        var splititem = itemNo.split("/");
        for (var i = 0; i < splititem.length; i++) {
            if (splititem[i].length == 0) {
                continue;
            }
            var flag = false;
            for (var j = 0; j < mwitems.length; j++) {
                flag = (splititem[i] == mwitems[j]);
                if (flag) {
                    break;
                }
            }
            if (!flag) {
                return false;
            }
        }
        return true;
    }
</script>