

<h3>System Parameter Management</h3>
<div class="sList">
    <table class="resultTable">
        <thead>
            <tr>
                <th class="sTh">Parameter </th>
            </tr>
        </thead>

        <tbody>
            <tr class="sRow1">
                <td class="sCell"> @Html.ActionLink("Audit Check %", "SMM1103AuditCheckPercentage", "SMM1103AuditCheckPercentage")@*<a href='javascript:loadContentPage("SMM1103a")'>Audit check %</a>*@</td>
            </tr>
            <tr class="sRow2">
                <td class="sCell"><a href='javascript:loadContentPage("SMM1103b")'>Workflow Setting </a></td>
            </tr>
            <tr class="sRow1">
                <td class="sCell"><a href='javascript:loadContentPage("SMM1103c")'>Letter Info </a></td>
            </tr>
            <tr class="sRow2">
                <td class="sCell">     @Html.ActionLink("Validation Item ", "SMM1103ValidationItem", "SMM1103ValidationItem")@*<a href='javascript:loadContentPage("SMM1103d")'>Validation Item </a>*@</td>
            </tr>
            <tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Letter Template Upload ", "SMM1103LetterTemplate", "SMM1103LetterTemplate")@*<a href='javascript:loadContentPage("SMM1103e")'>Letter Template Upload </a>*@</td>
            </tr>
            <tr class="sRow2">
                <td class="sCell"> @Html.ActionLink("District Maintenance", "SMM1103DistrictMaintenance", "SMM1103DistrictMaintenance" )   @*<a href='javascript:loadContentPage("SMM1103f")'>District Maintenance </a>*@</td>
            </tr>
            <tr class="sRow1">
                <td class="sCell">@Html.ActionLink("Link Maintenance", "SMM1103LinkMaintenance", "SMM1103LinkMaintenance") @*<a href='javascript:loadContentPage("SMM1103g")'>Link Maintenance </a>*@</td>
            </tr>
        </tbody>
    </table>
</div>


