@model MWMS2.Entity.B_S_SYSTEM_VALUE

<h3>Validation Item</h3>
<br>


@using (Html.BeginForm("SPMValidationItemCreate", "SPMValidationItem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    
<div class="sList w3-border displayForm">
    <div class="w3-row">
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m3 s3">Validation Item<span class="asterix">*</span>:</div>
            <div class="w3-col l9 m9 s9">
                @Html.EditorFor(model => model.CODE, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", id = "Subject", @required = "required" } })
                @Html.ValidationMessageFor(model => model.CODE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m3 s3">Corresponding MW Item:</div>
            <div class="w3-col l9 m9 s9">
                @Html.DropDownListFor(model => model.DESCRIPTION, (IEnumerable<SelectListItem>)ViewBag.MWItems, new { style = "width:auto", id = "MWItem" })
            </div>
        </div>
        <div class="w3-col l12 m12 s12">
            <div class="w3-col l3 m3 s3">Ordering :</div>
            <div class="w3-col l9 m9 s9">
                @Html.EditorFor(model => model.ORDERING, new { htmlAttributes = new { @class = "form-control", style = "max-width:600px", id = "Subject", @type = "number", @min = "0" } })
                @Html.ValidationMessageFor(model => model.ORDERING, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="w3-container footer">
        @*<input type="submit" class="btn btn-default SaveBtn" id="Save" value="Save" />*@
        <button class="SaveBtn btn btn-default" type="submit"><i class="fa fa-save"></i> Save</button>
        @*<input class="btn btn-deafult inputButton" id="btnCancel" name="btnCancel" value="Cancel" onclick='location.href="@Url.Action("SPMValidationItem", "SPMValidationItem")"' type="button">*@
        <button onclick='location.href="@Url.Action("SPMValidationItem", "SPMValidationItem")"' class="CancelButton btn btn-default" type="button"><i class="fa fa-times"></i> Cancel</button>
    </div>

</div>
}
